<% include ../public/javascripts/functions.ejs %>

<div class="container col-md-10 offset-md-2" id="seg">
  <div class="row">
<!--DADES ALUMNE-->
    <div class="container margetop">
      <div class="row seg-title">
        <div class="col-md-4 text-muted clear">
          <h4><strong>Nom: </strong><%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%></h4>
        </div>
        <div class="col-md-2 text-muted">
          <h4><strong>Curs: </strong><%=alumne.curs%></h4>
        </div>
        <div class="col-md-5 text-muted">
          <h4><strong>Escola: </strong><%=alumne.centre.nom%></h4>
        </div>
        <div class="col-md-5 hidBig" style="margin-top: 40px;">
          <h1><strong>ALTRES COORDINACIONS</strong></h1>
        </div>
      </div>
    </div>

<!--ALTRES COORDINACIONS-->
    <div class="container">   
      <div class="clearfix">
        <div class="container seguiment" id="coordinacions">
          <div class="row">
            <div class="container tbl">
              <div class="row">
              <%  if (alumne.segAltresCoord.length === 0) { %>
                <p><br />
                  Encara no heu registrat cap coordinació sobre aquest/a alumne/a
                </p>
              <% } else {%> 
                <table class="table table-hover">
                  <thead>
                    <tr class="row m-0">
                      <th class="d-inline-block col-3">Data</th>
                      <th class="d-inline-block col-6">Text</th>
                      <th class="d-inline-block col-3"> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <%for (i = 0; i < alumne.segAltresCoord.length; i++) { 
                      var punts = "";
                      if (alumne.segAltresCoord[i].body.length > 80)
                      {punts="..."};
                    %>  
                    <tr class="row m-0">
                      <td class="d-inline-block col-2">
                        <%=alumne.segAltresCoord[i].date%>
                      </td>
                      <td class="d-inline-block col-6">
                        <a href="#" title="<%=alumne.segAltresCoord[i].body%>" data-toggle="popover" data-trigger="hover"><%=alumne.segAltresCoord[i].body.substring(0,80) + punts%></a>
                        
                      </td>
                      <td class="d-inline-block col-4">
                        <span class="col-md-1">
                          <a id = "btnAltresCoordGet" data-toggle="modal" href="/javascripts/modals/altresCoordEeGet.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-curs="<%=alumne.curs%>" data-dta = "<%=alumne.segAltresCoord[i].date%>" data-body = "<%=alumne.segAltresCoord[i].body%>" data-target="#altresCoordModalGet" data-tggle="tooltip" data-placement="top" title="Veure"><i class="material-icons gris">remove_red_eye</i>
                          </a>
                        </span>
                        <% if(session.user.mestre === "ee"){%>
                          <span class="col-md-1">
                            <a id = "btnAltresUpd" data-toggle="modal" href="/javascripts/modals/altresCoordEeEdit.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-i="<%=i%>" data-dta="<%=alumne.segAltresCoord[i].date%>" data-body="<%=alumne.segAltresCoord[i].body%>" data-target="#altresCoordModalUpd"data-tggle="tooltip" data-placement="top" title="Modificar"><i class="material-icons gris">edit</i>
                            </a>
                          </span>
                          <span class="col-md-1">
                            <a data-tggle="tooltip" data-placement="top" title="Imprimir" href="/altresCoord/<%=i%>/<%=alumne._id%>" target="_blank"><i class="material-icons gris">printer</i>
                            </a>
                          </span>
                          <span class="col-md-1">
                            <a id = "btnaltresCoordDel" data-toggle="modal" href="/javascripts/modals/altresCoordEeDel.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-i="<%=i%>" data-dta="<%=alumne.segAltresCoord[i].date%>" data-body = "<%=alumne.segAltresCoord[i].body%>" data-target="#altresCoordModalDel" data-tggle="tooltip" data-placement="top" title="Elimina"><i class="material-icons verm">delete_forever</i>
                            </a>
                          </span>
                          <% } else {%>
                              <span class="col-md-1">
                              <a class="disabled" data-tggle="tooltip" data-placement="top" title="Modificar"><i class="material-icons gris">edit</i>
                              </a>
                            </span> 
                            <span class="col-md-1">
                              <a class="disabled" data-tggle="tooltip" data-placement="top" title="Imprimir" href="#" target="_blank"><i class="material-icons gris">printer</i>
                              </a>
                            </span>
                            <span class="col-md-1">
                              <a class="disabled" data-tggle="tooltip" data-placement="top" title="Elimina"><i class="material-icons verm">delete_forever</i>
                              </a>
                            </span>
                            <% } %>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
                <% } %>
              </div>
            </div>
            <div class="container">
              <div class="clearfix float-right">
                <% 
                var li = "/list";
                if(session.user.mestre === "ee"){
                  li = "/list_EE"}
                %>
                <span class="col-md-2">
                  <a href="<%=li%>" type="button" class="btn btn-blue-grey"><i class="fa fa-arrow-left" aria-hidden="true"></i><span> Torna enrere</span></a>
                </span>
                <%if(session.user.mestre === "ee"){%>
                <span class="white"><a data-toggle="modal" class="btn btn-default float-right" id="btnaltresCoordAfegir" role = "button" href="/javascripts/modals/altresCoordEe.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-today="<%=today()%>" data-altresnum = "<%=alumne.segAltresCoord.length%>" data-target="#altresCoordModal"><i class="fa fa-plus"></i> Nova coordinació</a>
                </span><%}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODALS ALTRES COORD -->
<!--CREATE-->
<div class="modal fade" id="altresCoordModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--READ-->
<div class="modal fade" id="altresCoordModalGet" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--UPDATE-->
<div class="modal fade" id="altresCoordModalUpd" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--DELETE-->
<div class="modal fade" id="altresCoordModalDel" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>