<%
function radioTrue(id){
    var rt='';
    if (alumne.radios[id] === true) {
    rt ="checked";
    }
    return rt;
    };

//DATA D'AVUI
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();

if(dd<10) {
    dd='0'+dd
} 

if(mm<10) {
    mm='0'+mm
} 

today = dd+'/'+mm+'/'+yyyy;
%>

<div class="container">
<div class="row">
            <div class="col-md-2">
              <h4>Llista assistencia</h4>
               DATA: <%=today%>
            </div>

            <div class="col-md-10">
              <hr>
            </div>
            <div class="col-md-12">

  <% if (Alumnes.length === 0) { %>
      <p><br />
      No hi ha alumnes registrats
      </p>
      <%} else { %>           
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Curs</th>
        <th>Falta matí</th>
        <th>Retard matí</th>
        <th>Falta tarda</th>
        <th>Retard tarda</th>

      </tr>
    </thead>

    <tbody>
      <% for (var i=0; i < Alumnes.length; i++) {
      //ARRAY ASSIST
      //var arraylng = Alumnes[i].assist.length;
      //console.log(arraylng);
      Alumnes[i].assist.date = today;
      %>

      <form role="form" method="post" action="/alumne_ass?_method=put" id="assistencia">
      <tr>
      <td><%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " + Alumnes[i].cognomAlumne2%></td>

      <td><%=Alumnes[i].curs%></td>
      <input type="hidden" form="assistencia" name="alumneId.<%=i%>" value ="<%=Alumnes[i]._id%>">
      <input type="hidden" form="assistencia" name="assist.date.<%=i%>" value ="<%=today%>">

      <td><input type="radio" form="assistencia" name="assist.mati.<%=i%>" value ="falta"></td>
      <td><input type="radio" form="assistencia" name="assist.mati.<%=i%>" value = "retard"></td>
      <td><input type="radio" form="assistencia" name="assist.tarda.<%=i%>" value ="falta"></td>
      <td><input type="radio" form="assistencia" name="assist.tarda.<%=i%>" value = "retard"></td>
      
      <td>

            <!--/print_EE/<%=Alumnes[i].id%>-->
            <a href="" class="btn btn-primary btn-xs" role="button" target="_blank">Veure total</a>
      </td>
     </tr>
     </form>

     <% }; %><% } %>

    </tbody>
  </table>
          <div class="form-group col-md-3 col-md-offset-9" style="text-align:right;">
            <input type="hidden" form="assistencia" name="i" value ="<%=i%>">
            <a href="/list_EE" class="btn btn-default" role="button">Cancel·la</a>
            <button type="submit" form="assistencia" class="btn btn-primary">Desa</button>
          </div>
</div>
</div>
</div>
