<% include ../public/javascripts/functions.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="page-t">Assistència<div class="curs-t"><%=Alumnes[0].curs%></div>
      </div>
    </div>
    <div class="col-md-3 sub-t">Tutor: <%=Alumnes[0].tutor.nom + " " + Alumnes[0].tutor.cognom%>
    </div>

<!--DATEPICKER-->
    <form role="form" method="post" action="/assisData" id="assisData">
      <div  id="aData" class="col-md-2 col-md-offset-7 datep-t" >
      
        <div class="input-group date" data-provide="datepicker">
          <input type="text" class="form-control" form="assisData" name= "dataAssis" value ="<%=DataV%>">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>
      </div>
    </form> 
 

  <div class="col-md-12">

  <% if (Alumnes.length === 0) { %>
      <p><br />
      No hi ha alumnes registrats
      </p>
      <%} else {%>           
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Núm.</th>
        <th>Nom i cognoms</th>
        <th> </th>

        <th>Falta matí</th>
        <th>Retard matí</th>
        <th>Falta tarda</th>
        <th>Retard tarda</th>
      </tr>
    </thead>
    <tbody>
      <%
      //DATA D'AVUI
          var today = new Date();
          var dd = today.getDate();
          var mm = today.getMonth()+1; //January is 0!
          var yyyy = today.getFullYear();
          if(dd<10) {
              dd='0'+dd
          } 
          if(mm<10) {
              mm='0'+mm
          } 
          today = dd+'/'+mm+'/'+yyyy;
      for (var i=0; i < Alumnes.length; i++) {
      //ARRAY ASSIST
          var arraylng = Alumnes[i].assist.length;
          var arraymn = arraylng - 1;
      //FILTRE DATA
          function filtreData(obj){
            if (obj.date === DataV){
              return obj.date
            };
          };
          
          var dataSelec ={};
          
          dataSelec = Alumnes[i].assist.filter(filtreData);
          
          var dataObj = JSON.parse(JSON.stringify(dataSelec));
          if (dataObj[0] === undefined){
            ddoo ={
                        date: today,
                        mati: null,
                        tarda: null,
                        dataIso: new Date()}
          dataObj = JSON.stringify(ddoo)
          }
      %>
      <form role="form" method="post" action="/assistenciaN?_method=put" id="assisForm" name="assis">
      <tr id="tradios">
      <td><%=i+1%></td>
      <td><%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " + Alumnes[i].cognomAlumne2%>
      </td>
      <td>
      <% var nomAlumne = Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " +Alumnes[i].cognomAlumne2;
        var idAlumne = Alumnes[i]._id;%>
<!-- Button -->
      <a type="button" class="btn btn-default" id = "btnAssist" data-toggle="modal" data-nom="<%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " + Alumnes[i].cognomAlumne2%>" data-id="<%=Alumnes[i]._id%>" href="/javascripts/modals/assistencia.ejs" data-today="<%=today%>" data-target="#assistModal">Imprimir</a>
      </td>

      <input type="hidden" form="assisForm" name="alumneId.<%=i%>" value ="<%=Alumnes[i]._id%>">
      <input type="hidden" form="assisForm" name="assist.date.<%=i%>" value ="<%=DataV%>">
      <input type="hidden" form="assisForm" name="arraylng.<%=i%>" value ="<%=arraylng%>">
      <td><input id="aMat" type="radio" form="assisForm" name="assist.mati.<%=i%>" value ="falta" <%=radioTrueFM()%>></td>
      <td><input id="rMat" type="radio" form="assisForm" name="assist.mati.<%=i%>" value = "retard" <%=radioTrueRM()%>></td>
      <td><input id="aTar" type="radio" form="assisForm" name="assist.tarda.<%=i%>" value ="falta" <%=radioTrueFT()%>></td>
      <td><input id="rTar" type="radio" form="assisForm" name="assist.tarda.<%=i%>" value = "retard" <%=radioTrueRT()%>></td>
     </tr>
     </form>
     <%}%>
    </tbody>
  </table>
          <div class="form-group col-md-3 col-md-offset-9" style="text-align:right;">
            <input type="hidden" form="assisForm" name="i" value ="<%=i%>">
                <% 
                var li = "/list";
                if(session.user.mestre === "ee"){
                  li = "/list_EE"}
                %> 
<!--                <a type="button" href="<%=li%>" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Torna enrere</a>-->
            <button type="submit" form="assisForm" class="btn btn-primary">Desa</button>
          </div>
    <%}%>
  </div>
</div>
</div>


<!-- MODAL ASSISTÈNCIA -->

<div class="modal fade" id="assistModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>