<%
//DATA D'AVUI
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();

if(dd<10) {
    dd='0'+dd
} 
if(mm<10) {
    mm='0'+mm
} 
today = dd+'/'+mm+'/'+yyyy;

//RADIOTRUE-FALTA MATI
function radioTrueFM(){
  var rt='';
  if (Alumnes[i].assist[arraymn].mati === 'falta') {
    rt ="checked";
  }
  return rt;
};

//RADIOTRUE-RETARD MATI
function radioTrueRM(){
  var rt='';
  if (Alumnes[i].assist[arraymn].mati === 'retard') {
    rt ="checked";
  }
  return rt;
};

//RADIOTRUE-FALTA TARDA
function radioTrueFT(){
  var rt='';
  if (Alumnes[i].assist[arraymn].tarda === 'falta') {
    rt ="checked";
  }
  return rt;
};

//RADIOTRUE-RETARD TARDA
function radioTrueRT(){
  var rt='';
  if (Alumnes[i].assist[arraymn].tarda === 'retard') {
    rt ="checked";
  }
  return rt;
};
%>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>Control d'assistencia <%=Alumnes[0].curs%></h4>
      <h5>Tutor: <%=Alumnes[0].tutor.nom + " " + Alumnes[0].tutor.cognom%></h5>
    </div>
    <div class="col-md-9">
      <hr>
    </div>

    <div class="col-md-2" id="data">
      <div class="input-group date">
        <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>
    </div>






<!--    <div class="form-group col-md-2 alturabox" id="data">
    
      <select class="form-control" id="dataOp" name="dataOp">
        <option value="<%=today%>"><%=today%></option>
        <option value="<%=today%>"><%=today%></option>
        <option value="<%=today%>"><%=today%></option>
        <option value="<%=today%>"><%=today%></option>
        <option value="<%=today%>"><%=today%></option> 
      </select>
    </div> -->
  </div>



        <div class="col-md-12">

  <% if (Alumnes.length === 0) { %>
      <p><br />
      No hi ha alumnes registrats
      </p>
      <%} else {%>           
  <table class="table table-striped">
    <thead>
      <tr>

        <th>Núm.</th>
        <th>Nom i cognoms</th>
        <th>Curs</th>
        <th>Falta matí</th>
        <th>Retard matí</th>
        <th>Falta tarda</th>
        <th>Retard tarda</th>

      </tr>
    </thead>

    <tbody>

      <%

      for (var i=0; i < Alumnes.length; i++) {

      //ARRAY ASSIST
      var arraylng = Alumnes[i].assist.length;
      var arraymn = arraylng - 1;
      var  ii = i-1;


      //console.log('arraylng en vistas: ' + arraylng);
      //console.log('arraymn en vistas: ' + arraymn);
      //console.log('Data OK: ' + Alumnes[i].assist[arraymn].date);
      //console.log(Alumnes[i]);
      //console.log('MATI: ' + Alumnes[i].assist[arraymn].mati);
      //console.log('TARDA: ' + Alumnes[i].assist[arraymn].tarda);


      if (Alumnes[i].assist[arraymn].date == today){

         //console.log('AIXO ES IF');
      
      %>

      <form role="form" method="post" action="/assistenciaMD?_method=put" id="assistencia">
      <tr>
      <td><%=i+1%></td>
      <td><%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " + Alumnes[i].cognomAlumne2%></td>

      <td><%=Alumnes[i].curs%></td>
      <input type="hidden" form="assistencia" name="alumneId.<%=i%>" value ="<%=Alumnes[i]._id%>">
      <input type="hidden" form="assistencia" name="assist.date.<%=i%>" value ="<%=Alumnes[i].assist[arraymn].date%>">
      <input type="hidden" form="assistencia" name="arraylng.<%=i%>" value ="<%=arraylng%>">

      <td><input type="radio" form="assistencia" name="assist.mati.<%=i%>" value ="falta" <%=radioTrueFM()%>></td>
      <td><input type="radio" form="assistencia" name="assist.mati.<%=i%>" value = "retard" <%=radioTrueRM()%>></td>
      <td><input type="radio" form="assistencia" name="assist.tarda.<%=i%>" value ="falta" <%=radioTrueFT()%>></td>
      <td><input type="radio" form="assistencia" name="assist.tarda.<%=i%>" value = "retard" <%=radioTrueRT()%>></td>
      
      <td>

        <a href="/assistenciaA/<%=Alumnes[i].id%>" class="btn btn-primary btn-xs" role="button" target="_blank">Imprimir</a>

      </td>
     </tr>
     </form>
    

     <%} else {

       //console.log('AIXO ES ELSE');


      %>
    

     <form role="form" method="post" action="/assistenciaN?_method=put" id="assistencia">
      <tr>
      <td><%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " + Alumnes[i].cognomAlumne2%></td>

      <td><%=Alumnes[i].curs%></td>
      <input type="hidden" form="assistencia" name="alumneId.<%=i%>" value ="<%=Alumnes[i]._id%>">
      <input type="hidden" form="assistencia" name="assist.date.<%=i%>" value ="<%=today%>">
      <input type="hidden" form="assistencia" name="arraylng.<%=i%>" value ="<%=arraylng%>">

      <td><input type="radio" form="assistencia" name="assist.mati.<%=i%>" value ="falta"></td>
      <td><input type="radio" form="assistencia" name="assist.mati.<%=i%>" value = "retard"></td>
      <td><input type="radio" form="assistencia" name="assist.tarda.<%=i%>" value ="falta"></td>
      <td><input type="radio" form="assistencia" name="assist.tarda.<%=i%>" value = "retard"></td>
      
      <td>

       <a href="/assistenciaA/<%=Alumnes[i].id%>" class="btn btn-primary btn-xs" role="button" target="_blank">Imprimir</a>
       
      </td>
     </tr>
     </form>
     <%}}%>

    </tbody>
  </table>
          <div class="form-group col-md-3 col-md-offset-9" style="text-align:right;">
            <input type="hidden" form="assistencia" name="i" value ="<%=i%>">
            <a href="/list_EE" class="btn btn-default" role="button">Cancel·la</a>
            <button type="submit" form="assistencia" class="btn btn-primary">Desa</button>
          </div>
          <%}%>
</div>
</div>
</div>





<!-- Librería jQuery requerida por los plugins de JavaScript -->

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!-- Todos los plugins JavaScript de Bootstrap (también puedes
         incluir archivos JavaScript individuales de los únicos
         plugins que utilices) -->
  <script src="/stylesheets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/stylesheets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="/stylesheets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.ca.min.js"></script>
  <script type="text/css" src="/stylesheets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css"></script>

  <script>

   $('#data .input-group.date').datepicker({
    format: "dd/mm/yy",
    maxViewMode: 2,
    todayBtn: "linked",
    language: "ca",
    daysOfWeekDisabled: "0,6",
    autoclose: true,
    todayHighlight: true

});

  </script>

  <!-- Fichero externo con JS y jQuery -->
<script src="/javascripts/global.js"></script> 



