
<%
//DATA D'AVUI
          var today = new Date();
          var dd = today.getDate();
          var mm = today.getMonth()+1; //January is 0!
          var yyyy = today.getFullYear();

          if(dd<10) {
              dd='0'+dd
          } 
          if(mm<10) {
              mm='0'+mm
          } 
          today = dd+'/'+mm+'/'+yyyy;

//DATA YESTERDAY
//          var ydd = dd-1;

//          var yesterday = ydd+'/'+mm+'/'+yyyy;

%>



<!-- --------------------------------------- SEGUIMENT ALUMNE ------------------------------------ -->
    <div class="container">
      <div class="row">

            <!--DADES ALUMNE-->
              <div class="container">
                <div class="row">

                    <div class="form-group">
                      <div class="col-md-6">
                        <h4>Control d'assistència: <%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%></h4>
                      </div>

                      <div class="col-md-6">
                        <hr>
                      </div>

                        <form role="form" method="post" action="/assistPDF" id="assisDataD">

                        <input type="hidden" form="assisDataD" name="alumneId" value ="<%=alumne._id%>">

                        <!--DATEPICKER-->

                          <div class="col-md-3 alturabox" id="data" style="clear:both;">
                           <label for="alumneAssist1">Veure assistència des del dia </label>
                            <div class="input-group date alturabox" data-provide="datepicker">
                              <input type="text" class="form-control" form="assisDataD" name= "alumneAssistU" value ="<%=today%>">
                              <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                              </div>
                            </div>
                          </div>


                          <div class="col-md-3 alturabox" id="data2">
                           <label for="alumneAssist2"> fins el dia  </label>
                            <div class="input-group date alturabox" data-provide="datepicker">
                              <input type="text" class="form-control" form="assisDataD" name= "alumneAssistD" value ="<%=today%>">
                              <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                              </div>
                            </div>
                          </div>

                          <div class="form-group col-md-3 col-md-offset-9" style="text-align:right;">
                              <a href="/assistencia" class="btn btn-default btn-sm" role="button">Cancel·la</a>
                              <button type="submit" class="btn btn-primary btn-sm">Imprimir</button>

                             
                          </div>
                        </form>
                    </div>

                </div>
            </div>



          </div>
        </div>

         <!--<a href="/assistPDF/<%=alumne.id%>" class="btn btn-primary btn-sm" role="button" target="_blank">Imprimir</a>-->