<div class="container">
<div class="row">
            <div class="col-md-2">
              <h4>Llista assistencia</h4>
            </div>

            <div class="col-md-10">
              <hr>
            </div>
            <div class="col-md-12">

  <% if (Alumnes.length === 0) { %>
      <p><br />
      No hi ha alumnes registrats
      </p>
      <%} else { %>           
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Curs</th>
        <th>Falta matí</th>
        <th>Retard matí</th>
        <th>Falta tarda</th>
        <th>Retard tarda</th>

      </tr>
    </thead>
    <tbody>
      <% var i; for (i=0; i < Alumnes.length; i++) {%>
      <tr>
      <td><%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " +Alumnes[i].cognomAlumne2%></td>

      <td><%=Alumnes[i].curs%></td>
      <form role="form" method="post" action="/alumne_ass?_method=put"  id="alumne_ass">
      <td><input type="radio" name="<%=Alumnes[i].assist[mati.falta]%>"></td>
      <td><input type="radio" name="<%=Alumnes[i].assist[mati.retard]%>"></td>
      <td><input type="radio" name="<%=Alumnes[i].assist[tarda.falta]%>"></td>
      <td><input type="radio" name="<%=Alumnes[i].assist[tarda.retard]%>"></td>
      </form>
      <td>
            <!--/print_EE/<%=Alumnes[i].id%>-->
            <a href="" class="btn btn-primary btn-xs" role="button" target="_blank">Imprimir</a>
      </td>

     <% }; %><% } %>
     </tr>

    </tbody>
  </table>
          <div class="form-group col-md-3 col-md-offset-9" style="text-align:right;">
          <a href="/list_EE" class="btn btn-default" role="button">Cancel·la</a>
            <button type="submit" class="btn btn-primary">Desa</button>
        </div>
</div>
</div>
</div>
