
    <div class="container">
      <div class="row">
        <form role="form">
          <div class="form-group">
            <div class="col-md-2">
              <label for="ejemplo_archivo_1">Foto alumne</label>
              <div class="thumbnail">
                <img src="http://placehold.it/300x300">
              </div>
              <input type="file" id="ejemplo_archivo_1">
            </div>
<!---<p class="help-block">Ejemplo de texto de ayuda.</p>-->
          </div>
        </form>
      </div>
    </div>

<!--DADES ALUMNE-->
    <div class="container">
      <div class="row">
        <form role="form">
          <div class="form-group">
            <div class="col-md-2">
              <h4>Fitxa alumne</h4>
            </div>

            <div class="col-md-10">
              <hr>
            </div>

            <div class="form-group col-md-2">
              <label for="nom_alumne">Nom</label>
              <input type="text" class="form-control" id="nom_alumne"
                     placeholder="<%=alumne.nomAlumne%>" disabled>
            </div>

            <div class="form-group col-md-2">
              <label for="cognom1_alumne">Primer cognom</label>
              <input type="text" class="form-control" id="cognom1_alumne"
                     placeholder="<%=alumne.cognomAlumne1%>" disabled>
            </div>

            <div class="form-group col-md-2">
              <label for="cognom2_alumne">Segon cognom</label>
              <input type="text" class="form-control" id="cognom2_alumne"
                     placeholder="<%=alumne.cognomAlumne2%>" disabled>
            </div>

            <div class="form-group col-md-3">
              <label for="data_naixement">Data naixement</label>
              <input type="date" class="form-control" id="data_naixement"
                     placeholder="<%=alumne.dataNaixement%>" disabled>
            </div>

            <div class="form-group col-md-3">
              <label for="targeta_SS">Targeta SS</label>
              <input type="text" class="form-control" id="targeta_SS"
                     placeholder="<%=alumne.seguretatSoc%>" disabled>
            </div>

          </div>
        </form>
      </div>
    </div>


<!--ATENCIÓ ALUMNE-->
    
    <div class="container">
      <div class="row">
      <form role="form" method="post" action="/dades_update/<%=alumne._id%>?_method=put" >
        <div class="col-md-12">
         <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                  Atenció EE-USEE</a>
              </h3>
            </div>
<!--FUNCION CHECKOUT-->
                <%function checkCond(id){
                  var cc='';
                  if (alumne.checks[id] === true) {
                  cc ="checked";
                  } else {
                  cc = '';
                  }
                  return cc;
                  }
                  %>
<!--FUNCION RADIOS-->
                <%function radioTrue(id){
                  var rt='';
                  if (alumne.radios[id] === true) {
                  rt ="checked";
                  }
                  return rt;
                  }

                  function radioFalse(id){
                  var rf='';
                  if (alumne.radios[id] === false) {
                  rf ="checked";
                  }
                  return rf;
                  }

                  function inputRadios(id){
                  var ir='';
                  if (alumne.radios[id] === true) {
                  ir ='';
                  } else {
                  var ir='disabled';
                  }
                  return ir;
                  }
                  %>
<!--FUNCION OPTION-->
                <%function tutor(){
                  var tut='';
                  if (alumne.derivacio === "tutor") {
                  tut ="selected";
                  }
                  return tut;
                  }

                  function fam(){
                  var fa='';
                  if (alumne.derivacio === "familia") {
                  fa ="selected";
                  }
                  return fa;
                  }

                  function aD(){
                  var atd='';
                  if (alumne.derivacio === "atDiv") {
                  atd ="selected";
                  }
                  return atd;
                  }
                  %>

            <div id="collapse3" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="form-group col-md-3 alturaBox">
                  <label for="seguiment_atenció_a_la_diversitat">Seguiment atenció a la diversitat </label><br>
                  <label class="checkbox-inline">
                  <input type="checkbox" value="true" name="checks.0" id="0" <%=checkCond(0)%>>Directe</label>
                  <label class="checkbox-inline">
                  <input type="checkbox" value="true" name="checks.1" id="1" <%=checkCond(1)%>>Indirecte</label>

                </div>

                <div class="form-group col-md-3 alturaBox">
                <label for="atencio">Atenció </label><br>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.2" <%=checkCond(2)%>>AiLL</label>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.3" <%=checkCond(3)%>>EE</label>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.4" <%=checkCond(4)%>>EE-USEE</label>
                </div>

                <div class="form-group col-md-6 alturaBox">
                <label for="seguiment_serveis_externs">Seguiment serveis externs </label><br>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.5" <%=checkCond(5)%>>EAP</label>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.6" <%=checkCond(6)%>>TS EAP</label>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.7" <%=checkCond(7)%>>CREDAG</label>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.8" <%=checkCond(8)%>>CREDV</label>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.9" <%=checkCond(9)%>>CSMIJ</label>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.10" <%=checkCond(10)%>>SDTIC</label>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.11" <%=checkCond(11)%>>CDIAP</label>
                </div>

                <div class="form-group col-md-3 alturaBox">
                    <label for="seguiment_medic">Seguiment mèdic </label><br>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.12" <%=checkCond(12)%>>Pediatria</label>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.13" <%=checkCond(13)%>>Neuropediatria</label>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.14" <%=checkCond(14)%>>Altres especialitats</label>
                </div>

                <div class="form-group col-md-3 alturaBox">
                    <label for="altres_especialitats">Altres especialitats</label>
                    <input type="text" class="form-control" id="altres_especialitats" name="altresEsp" 
                    value = "<%=alumne.altresEsp||''%>"
                    placeholder= "Altres especialitats">
                </div>
          
                <div class="form-group col-md-6 alturaBox">
                    <label for="serveis_privats">Atenció serveis privats</label>
                    <input type="text" class="form-control" id="serveis_privats" name="atServPrivats"
                    value = "<%=alumne.atServPrivats||''%>"
                    placeholder= "Atenció serveis privats">
                </div>

                <div class="form-group col-md-2 alturaBox">
                      <label for="repeticio">Repetició</label><br>
                        <label class="radio-inline">
                        <input type="radio" name="radios.0" value="false" <%=radioFalse(0)%>>No
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="radios.0" value="true" <%=radioTrue(0)%>>Si
                        </label>
                
                </div>

                <div class="form-group col-md-2 alturaBox">
                      <label for="beca">Beca</label><br>
                        <label class="radio-inline">
                        <input type="radio" name="radios.1" value="false" <%=radioFalse(1)%>>No
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="radios.1" value="true" <%=radioTrue(1)%>>Si
                        </label>
                </div>

                <div class="form-group col-md-3 alturaBox">
                      <label for="disminucio">Certificat disminució</label><br>
                        <label class="radio-inline">
                        <input type="radio" name="radios.2" value="false" <%=radioFalse(2)%>
                        onclick="percentDim.disabled = true; percentDim.value = ''">No
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="radios.2" value="true" <%=radioTrue(2)%>
                        onclick="percentDim.disabled = false">Si
                        </label>

                        <input type="text" class="form-control" id="percent_dim" name="percentDim"
                    value = "<%=alumne.percentDim||''%>" placeholder= "Indicar %" <%=inputRadios(2)%>>
                </div>

                <div class="form-group col-md-3 alturaBox">
                      <label for="dictamen">Dictamen</label><br>
                        <label class="radio-inline">
                        <input type="radio" name="radios.3" value="false" <%=radioFalse(3)%>
                        onclick="motiuDic.disabled = true; motiuDic.value =''">No
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="radios.3" value="true" <%=radioTrue(3)%>
                        onclick="motiuDic.disabled = false">Si
                        </label>

                        <input type="text" class="form-control" id="motiu_dic" name="motiuDic"
                    value = "<%=alumne.motiuDic||''%>" placeholder= "Indicar motiu" <%=inputRadios(3)%>>
                    
                </div>

                <div class="form-group col-md-2 alturaBox">
                      <label for="valoracio_eap">Valoració EAP</label><br>
                        <label class="radio-inline">
                        <input type="radio" name="radios.4" value="false" <%=radioFalse(4)%>
                        onclick="anyVal.disabled = true; anyVal.value =''">No
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="radios.4" value="true" <%=radioTrue(4)%>
                        onclick="anyVal.disabled = false">Si
                        </label>

                        <input type="text" class="form-control" id="any_val" name="anyVal"
                    value = "<%=alumne.anyVal||''%>" placeholder= "Any"  <%=inputRadios(4)%>>
                    
                </div>


              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>





<!--ADAPTACIONS ALUMNE -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                Adaptacions</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">

                <div class="form-group col-md-4 alturaBox">
                <label for="programació_individualitzada">Programació individualitzada (P.I.)</label><br>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.15" <%=checkCond(15)%>>No</label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.16" <%=checkCond(16)%>>Curricular</label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.17" <%=checkCond(17)%>>Metodològica</label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.18" <%=checkCond(18)%>>Conductual</label>
                </div>

                <div class="form-group col-md-8 alturaBox">
                <label for="arees_adaptades">Àrees adaptades</label><br>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.19" <%=checkCond(19)%>>Català</label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.20" <%=checkCond(20)%>>Castellà</label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.21" <%=checkCond(21)%>>Matemàtiques</label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.22" <%=checkCond(22)%>>Medi natural</label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.23" <%=checkCond(23)%>>Medi social</label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.24" <%=checkCond(24)%>>Educació Física</label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="true" name="checks.25" <%=checkCond(25)%>>Àrea artística</label>
                </div>
                <div class="form-group col-md-3 alturaBox">
                    <label for="material_diferenciat">Material diferenciat a les àrees adaptades</label>
                      <label class="radio-inline">
                      <input type="radio" name="radios.5" value="false" <%=radioFalse(5)%>>No
                      </label>
                      <label class="radio-inline">
                      <input type="radio" name="radios.5" value="true" <%=radioTrue(5)%>>Si
                      </label>
                </div>

                <div class="form-group col-md-2 alturaBox">
                    <label for="adequacio_continguts">Adequació de continguts</label>
                      <label class="radio-inline">
                      <input type="radio" name="radios.6" value="false" <%=radioFalse(6)%>>No
                      </label>
                      <label class="radio-inline">
                      <input type="radio" name="radios.6" value="true" <%=radioTrue(6)%>>Si
                      </label>
                </div>

                 <div class="form-group col-md-2 alturaBox">
                    <label for="full_derivacio">Full de derivació</label><br>
                      <label class="radio-inline">
                      <input type="radio" name="radios.7" value="false" <%=radioFalse(7)%>
                      onclick="derivacio.disabled = true;
                      motiuDer.disabled = true;
                      derivacio.value = '';
                      motiuDer.value = ''">No
                      </label>
                      <label class="radio-inline">
                      <input type="radio" name="radios.7" value="true" <%=radioTrue(7)%>
                      onclick="derivacio.disabled = false; motiuDer.disabled = false">Si
                      </label>
                    
                </div>

                <div class="form-group col-md-2 alturaBox" id="derivacio">
                    <label for="qui_fa_derivacio">Qui el fa?</label>
                    <select class="form-control" id="qui_fa_derivacio" name="derivacio" <%=inputRadios(7)%>>
                      <option value="">Seleccioneu</option>
                      <option value="tutor" <%=tutor()%>>Tutor</option>
                      <option value="familia" <%=fam()%>>Família</option>
                      <option value="atDiv" <%=aD()%>>Atenció a la diversitat</option>
                    </select>
                </div>

                <div class="form-group col-md-3 alturaBox">
                  <label for="motiu_derivacio">Motiu</label>
                  <input type="text" class="form-control" id="motiu_derivacio"  name="motiuDer"
                    value="<%=alumne.motiuDer||''%>" placeholder="Motiu" <%=inputRadios(7)%>>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- SEGUIMENT ALUMNE -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  Seguiment</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="form-group col-md-10"></div>
                  <div class="form-group col-md-2">
                      <label for="any_curs">Curs</label>
                      <input type="text" class="form-control" id="any_curs" 
                             placeholder="2015/16">
                  </div>

                  <div class="form-group col-md-12">
                      <label for="actuacions">Actuacions</label>
                      <textarea class="form-control" rows="3" id="actuacions"></textarea>
                  </div>

                  <div class="form-group col-md-12">
                      <label for="informacio_cad">Informació CAD seguiment</label>
                      <textarea class="form-control" rows="3" id="informacio_cad"></textarea>
                  </div>

                  <div class="form-group col-md-12">
                      <label for="altres_coord">Altres coordinacions / Coordinacions amb tutors</label>
                      <textarea class="form-control" rows="3" id="altres_coord"></textarea>
                  </div>
                </div>
              </div>
            </div> 
        </div>
            <div class="form-group col-md-3 col-md-offset-9" style="text-align:right;">
            <a href="/" class="btn btn-default" role="button">Cancel·la</a>
            <button type="submit" class="btn btn-primary">Desa</button>
            </div>
          </form>
        </div>
    </div>

   
    
<!-- Fichero externo con JS y jQuery -->
<!--<script src="/javascripts/global.js"></script>-->



<!-- Librería jQuery requerida por los plugins de JavaScript -->

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  

<!-- Todos los plugins JavaScript de Bootstrap (también puedes
         incluir archivos JavaScript individuales de los únicos
         plugins que utilices) -->
  <script src="/stylesheets/js/bootstrap.min.js"></script>

