<!--DATA NAIXEMENT-->
                <%var dataNa = alumne.dataNaixement;
                var dd = dataNa.getDate();
                var mm = dataNa.getMonth()+1; //January is 0!
                var yyyy = dataNa.getFullYear();
                if(dd<10) {
                    dd='0'+dd
                    } 
                if(mm<10) {
                    mm='0'+mm
                    } 
                dataNa = dd+'/'+mm+'/'+yyyy;
                  %>



<!-- --------------------------------------- SEGUIMENT ALUMNE ------------------------------------ -->
    <div class="container">
      <div class="row">

            <!--DADES ALUMNE-->
              <div class="container">
                <div class="row">
                  <form role="form">
                    <div class="form-group">
                      <div class="col-md-4">
                        <h4>Voleu esborrar definitivament aquesta fitxa?</h4>
                      </div>

                      <div class="col-md-8">
                        <hr>
                      </div>

                      <div class="form-group col-md-2">
                        <label for="nom_alumne">Nom</label>
                        <input type="text" class="form-control" id="nom_alumne"
                               placeholder="<%=alumne.nomAlumne%>" disabled>
                      </div>

                      <div class="form-group col-md-2">
                        <label for="cognom1_alumne">Primer cognom</label>
                        <input type="text" class="form-control" id="cognom1_alumne"
                               placeholder="<%=alumne.cognomAlumne1%>" disabled>
                      </div>

                      <div class="form-group col-md-2">
                        <label for="cognom2_alumne">Segon cognom</label>
                        <input type="text" class="form-control" id="cognom2_alumne"
                               placeholder="<%=alumne.cognomAlumne2%>" disabled>
                      </div>

                      <div class="form-group col-md-3">
                        <label for="data_naixement">Data naixement</label>
                        <input type="text" class="form-control" id="data_naixement"
                               placeholder="<%=dataNa%>" disabled>
                      </div>

                      <div class="form-group col-md-3">
                        <label for="targeta_SS">Targeta SS</label>
                        <input type="text" class="form-control" id="targeta_SS"
                               placeholder="<%=alumne.seguretatSoc%>" disabled>
                      </div>

                    </div>
                  </form>
                </div>
                <a href="/" class="btn btn-success btn-sm" role="button">Torna</a>
                <a href="/dades_suprD/<%=alumne.id%>" class="btn btn-danger btn-sm" role="button">Esborra</a>
            </div>
          </div>
        </div>
