<%
var lg=horari.dades.length-1;
console.log('HORARI: ' + horari);
for (var i=0; i < horari.dades.length; i++) {
  if (horari.dades[i].dia === 1) {
    var dilluns = horari.dades[i];
    }
  if (horari.dades[i].dia === 2) {
    var dimarts = horari.dades[i];
    }
  if (horari.dades[i].dia === 3) {
    var dimecres = horari.dades[i];
    }
  if (horari.dades[i].dia === 4) {
    var dijous = horari.dades[i];
    }
  if (horari.dades[i].dia === 5) {
    var divendres = horari.dades[i];
    }
}
%>
<form role="form" method="post" action="/horari-post?_method=put" id="horari_post">
  <div class="container margetop clear col-md-10 offset-md-2" id="horari">
<!--DATEPICKER-->
      <div class="md-form col-md-12">
        <div class="row">
          <div class="md-form col-md-3" id="iniciHorari">
            <label class="active" for="inici">Comença el dia</label>
            <div class="input-group date" data-provide="datepicker">
              <div class="input-group-addon"><i class="fa fa-calendar"></i>
              </div>
                <input type="text" class="form-control textcenter" id="inici" form="horari_post" name="horariInici" value="<%=horari.dades[0].data%>">
            </div>
          </div>
          <div class="md-form col-md-3" id="finalHorari">
            <label class="active" for="horariFinal">Acaba el dia</label>
            <div class="input-group date" data-provide="datepicker">
              <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
              <input type="text" class="form-control textcenter" id="final" form="horari_post" name="horariFinal" value="<%=horari.dades[lg].data%>">
            </div>
          </div>
        </div>
      </div>
<!--END DATEPICKER-->
<div style="padding:200px;">
<input class="timepicker" name="timepicker"/>
</div>

    <div class="container">
      <div class="row">
<!--COLUMNA 1 DILLUNS-->
        <div class="col-sm">
            <div class="fila1"><strong>DILLUNS</strong></div>
            <div class="hores">
              <strong>9:00 - 10:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe1dll" id="dcl1"
                value="<%=dilluns.hora_1.area%>" style="text-transform:uppercase">
                <%
                  if(!dilluns.hora_1.area) {
                %>
                <label for="dcl1">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>10:00 - 11:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe2dll" id="dcl2" value="<%=dilluns.hora_2.area%>" style="text-transform:uppercase">
                <%
                  if(!dilluns.hora_2.area) {
                %>
                <label for="dcl2">Matèria</label>
                <%}%>
              </div>
            </div>

            <div class="fila2">
              <strong>ESBARJO</strong>
            </div>
            <div class="hores">
              <strong>11:30 - 12:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe3dll" id="dcl3" value="<%=dilluns.hora_3.area%>" style="text-transform:uppercase">
                <%
                  if(!dilluns.hora_3.area) {
                %>
                <label for="dcl3">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>12:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe4dll" id="dcl4" value="<%=dilluns.hora_4.area%>" style="text-transform:uppercase">
                <%
                  if(!dilluns.hora_4.area) {
                %>
                <label for="dcl4">Exclusiva</label>
                <%}%>
              </div>
            </div>
            <div class="fila2"><strong>DINAR</strong></div>
            <div class="hores">
              <strong>15:00 - 14:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe5dll" id="dcl5" value="<%=dilluns.hora_5.area%>" style="text-transform:uppercase">
                <%
                  if(!dilluns.hora_5.area) {
                %>
                <label for="dcl5">Matèria</label>
                <%}%>
              </div>
            </div>
        </div>
<!--COLUMNA 2 DIMARTS-->
        <div class="col-sm">
            <div class="fila1"><strong>DIMARTS</strong></div>
            <div class="hores">
              <strong>9:00 - 10:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe1dm" id="dmcl1" value="<%=dimarts.hora_1.area%>" style="text-transform:uppercase">
                <%
                  if(!dimarts.hora_1.area) {
                %>
                <label for="dmcl1">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>10:00 - 11:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe2dm" id="dmcl2" value="<%=dimarts.hora_2.area%>" style="text-transform:uppercase">
                <%
                  if(!dimarts.hora_2.area) {
                %>
                <label for="dmcl2">Matèria</label>
                <%}%>
              </div>
            </div>

            <div class="fila2">
              <strong>ESBARJO</strong>
            </div>
            <div class="hores">
              <strong>11:30 - 12:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe3dm" id="dmcl3" value="<%=dimarts.hora_3.area%>" style="text-transform:uppercase">
                <%
                  if(!dimarts.hora_3.area) {
                %>
                <label for="dmcl3">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>12:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe4dm" id="dmcl4" value="<%=dimarts.hora_4.area%>" style="text-transform:uppercase">
                <%
                  if(!dimarts.hora_4.area) {
                %>
                <label for="dmcl4">Exclusiva</label>
                <%}%>
              </div>
            </div>
            <div class="fila2"><strong>DINAR</strong></div>
            <div class="hores">
              <strong>15:00 - 14:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe5dm" id="dmcl5" value="<%=dimarts.hora_5.area%>" style="text-transform:uppercase">
                <%
                  if(!dimarts.hora_5.area) {
                %>
                <label for="dmcl5">Matèria</label>
                <%}%>
              </div>
            </div>
        </div>
<!--COLUMNA 3 DIMECRES-->
        <div class="col-sm">
            <div class="fila1"><strong>DIMECRES</strong></div>
            <div class="hores">
              <strong>9:00 - 10:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe1dx" id="dxcl1" value="<%=dimecres.hora_1.area%>" style="text-transform:uppercase">
                <%
                  if(!dimecres.hora_1.area) {
                %>
                <label for="dxcl1">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>10:00 - 11:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe2dx" id="dxcl2" value="<%=dimecres.hora_2.area%>" style="text-transform:uppercase">
                <%
                  if(!dimecres.hora_2.area) {
                %>
                <label for="dxcl2">Matèria</label>
                <%}%>
              </div>
            </div>

            <div class="fila2">
              <strong>ESBARJO</strong>
            </div>
            <div class="hores">
              <strong>11:30 - 12:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe3dx" id="dxcl3" value="<%=dimecres.hora_3.area%>" style="text-transform:uppercase">
                <%
                  if(!dimecres.hora_3.area) {
                %>
                <label for="dxcl3">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>12:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe4dx" id="dxcl4" value="<%=dimecres.hora_4.area%>" style="text-transform:uppercase">
                <%
                  if(!dimecres.hora_4.area) {
                %>
                <label for="dxcl4">Exclusiva</label>
                <%}%>
              </div>
            </div>
            <div class="fila2"><strong>DINAR</strong></div>
            <div class="hores">
              <strong>15:00 - 14:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe5dx" id="dxcl5" value="<%=dimecres.hora_5.area%>" style="text-transform:uppercase">
                <%
                  if(!dimecres.hora_5.area) {
                %>
                <label for="dxcl5">Matèria</label>
                <%}%>
              </div>
            </div>
        </div>
<!--COLUMNA 4 DIJOUS-->
        <div class="col-sm">
            <div class="fila1"><strong>DIJOUS</strong></div>
            <div class="hores">
              <strong>9:00 - 10:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe1dj" id="djcl1" value="<%=dijous.hora_1.area%>" style="text-transform:uppercase">
                <%
                  if(!dijous.hora_1.area) {
                %>
                <label for="djcl1">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>10:00 - 11:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe2dj" id="djcl2" value="<%=dijous.hora_2.area%>" style="text-transform:uppercase">
                <%
                  if(!dijous.hora_2.area) {
                %>
                <label for="djcl2">Matèria</label>
                <%}%>
              </div>
            </div>

            <div class="fila2">
              <strong>ESBARJO</strong>
            </div>
            <div class="hores">
              <strong>11:30 - 12:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe3dj" id="djcl3" value="<%=dijous.hora_3.area%>" style="text-transform:uppercase">
                <%
                  if(!dijous.hora_3.area) {
                %>
                <label for="djcl3">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>12:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe4dj" id="djcl4" value="<%=dijous.hora_4.area%>" style="text-transform:uppercase">
                <%
                  if(!dijous.hora_4.area) {
                %>
                <label for="djcl4">Exclusiva</label>
                <%}%>
              </div>
            </div>
            <div class="fila2"><strong>DINAR</strong></div>
            <div class="hores">
              <strong>15:00 - 14:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe5dj" id="djcl5" value="<%=dijous.hora_5.area%>" style="text-transform:uppercase">
                <%
                  if(!dijous.hora_5.area) {
                %>
                <label for="djcl5">Matèria</label>
                <%}%>
              </div>
            </div>
        </div>
<!--COLUMNA 5 DIVENDRES-->
        <div class="col-sm">
            <div class="fila1"><strong>DIVENDRES</strong></div>
            <div class="hores">
              <strong>9:00 - 10:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe1dv" id="dvcl1" value="<%=divendres.hora_1.area%>" style="text-transform:uppercase">
                <%
                  if(!divendres.hora_1.area) {
                %>
                <label for="dvcl1">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>10:00 - 11:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe2dv" id="dvcl2" value="<%=divendres.hora_2.area%>" style="text-transform:uppercase">
                <%
                  if(!divendres.hora_2.area) {
                %>
                <label for="dvcl2">Matèria</label>
                <%}%>
              </div>
            </div>

            <div class="fila2">
              <strong>ESBARJO</strong>
            </div>
            <div class="hores">
              <strong>11:30 - 12:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe3dv" id="dvcl3" value="<%=divendres.hora_3.area%>" style="text-transform:uppercase">
                <%
                  if(!divendres.hora_3.area) {
                %>
                <label for="dvcl3">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>12:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe4dv" id="dvcl4" value="<%=divendres.hora_4.area%>" style="text-transform:uppercase">
                <%
                  if(!divendres.hora_4.area) {
                %>
                <label for="dvcl4">Exclusiva</label>
                <%}%>
              </div>
            </div>
            <div class="fila2"><strong>DINAR</strong></div>
            <div class="hores">
              <strong>15:00 - 14:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe5dv" id="dvcl5" value="<%=divendres.hora_5.area%>" style="text-transform:uppercase">
                <%
                  if(!divendres.hora_5.area) {
                %>
                <label for="dvcl5">Matèria</label>
                <%}%>
              </div>
            </div>
        </div>
      </div><br><br>
      <div class="md-form col-md-3 offset-md-8">
        <button type="submit" form = "horari_post" class="btn btn-success btn-lg btn-block buttonDiari hidBig" id="horariDiariPost">Desa l'horari</button>
      </div>
    </div>
    </div>
  </div>
</form>