<%
var lg=horari.dades.length-1;
for (var i=0; i < horari.dades.length; i++) {
  if (horari.dades[i].dia === 1) {
    var dilluns = horari.dades[i];
    }
  if (horari.dades[i].dia === 2) {
    var dimarts = horari.dades[i];
    }
  if (horari.dades[i].dia === 3) {
    var dimecres = horari.dades[i];
    }
  if (horari.dades[i].dia === 4) {
    var dijous = horari.dades[i];
    }
  if (horari.dades[i].dia === 5) {
    var divendres = horari.dades[i];
    }
}
%>
<form role="form" method="post" action="/horari-post?_method=put" id="horari_post">
  <div class="container margetop clear" id="horari">

      <div class="md-form col-12" style="clear: both;">
        <div class="row">
          <div class="md-form col-md-3">
            <label for="nom_horari">Nom de l'horari</label>
            <input type="text" class="form-control" id="nom_horari" name="nom"
                   value="<%=horari.nom%>">
          </div>
        </div>
      </div>
<!--DATEPICKER-->
      <div class="md-form col-md-6">
        <div class="row">
          <div class="md-form col-md-5" id="iniciHorari">
            <label class="active" for="inici">Comença el dia</label>
            <div class="input-group date" data-provide="datepicker">
              <div class="input-group-addon"><i class="fa fa-calendar"></i>
              </div>
                <input type="text" class="form-control textcenter" id="inici" form="horari_post" name="horariInici" value="<%=horari.dades[0].data%>">
            </div>
          </div>
          <div class="md-form col-md-5" id="finalHorari">
            <label class="active" for="horariFinal">Acaba el dia</label>
            <div class="input-group date" data-provide="datepicker">
              <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
              <input type="text" class="form-control textcenter" id="final" form="horari_post" name="horariFinal" value="<%=horari.dades[lg].data%>">
            </div>
          </div>
        </div>
      </div>
<!--END DATEPICKER-->

    <div class="container">
      <div class="row">
<!--COLUMNA 1 DILLUNS-->
        <div class="col-sm">
            <div class="fila1"><strong>DILLUNS</strong></div>
            <div class="hores">
              <strong>9:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe1dll" id="dcl1" value="<%=dilluns.clase1%>" style="text-transform:uppercase">
                <%
                  if(!dilluns.clase1) {
                %>
                <label for="dcl1">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>10:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe2dll" id="dcl2" value="<%=dilluns.clase2%>" style="text-transform:uppercase">
                <%
                  if(!dilluns.clase2) {
                %>
                <label for="dcl2">Matèria</label>
                <%}%>
              </div>
            </div>

            <div class="fila2">
              <strong>ESBARJO</strong>
            </div>
            <div class="hores">
              <strong>11:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe3dll" id="dcl3" value="<%=dilluns.clase3%>" style="text-transform:uppercase">
                <%
                  if(!dilluns.clase3) {
                %>
                <label for="dcl3">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>12:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe4dll" id="dcl4" value="<%=dilluns.clase4%>" style="text-transform:uppercase">
                <%
                  if(!dilluns.clase4) {
                %>
                <label for="dcl4">Exclusiva</label>
                <%}%>
              </div>
            </div>
            <div class="fila2"><strong>DINAR</strong></div>
            <div class="hores">
              <strong>15:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe5dll" id="dcl5" value="<%=dilluns.clase5%>" style="text-transform:uppercase">
                <%
                  if(!dilluns.clase5) {
                %>
                <label for="dcl5">Matèria</label>
                <%}%>
              </div>
            </div>
        </div>
<!--COLUMNA 2 DIMARTS-->
        <div class="col-sm">
            <div class="fila1"><strong>DIMARTS</strong></div>
            <div class="hores">
              <strong>9:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe1dm" id="dmcl1" value="<%=dimarts.clase1%>" style="text-transform:uppercase">
                <%
                  if(!dimarts.clase1) {
                %>
                <label for="dmcl1">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>10:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe2dm" id="dmcl2" value="<%=dimarts.clase2%>" style="text-transform:uppercase">
                <%
                  if(!dimarts.clase2) {
                %>
                <label for="dmcl2">Matèria</label>
                <%}%>
              </div>
            </div>

            <div class="fila2">
              <strong>ESBARJO</strong>
            </div>
            <div class="hores">
              <strong>11:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe3dm" id="dmcl3" value="<%=dimarts.clase3%>" style="text-transform:uppercase">
                <%
                  if(!dimarts.clase3) {
                %>
                <label for="dmcl3">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>12:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe4dm" id="dmcl4" value="<%=dimarts.clase4%>" style="text-transform:uppercase">
                <%
                  if(!dimarts.clase4) {
                %>
                <label for="dmcl4">Exclusiva</label>
                <%}%>
              </div>
            </div>
            <div class="fila2"><strong>DINAR</strong></div>
            <div class="hores">
              <strong>15:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe5dm" id="dmcl5" value="<%=dimarts.clase5%>" style="text-transform:uppercase">
                <%
                  if(!dimarts.clase5) {
                %>
                <label for="dmcl5">Matèria</label>
                <%}%>
              </div>
            </div>
        </div>
<!--COLUMNA 3 DIMECRES-->
        <div class="col-sm">
            <div class="fila1"><strong>DIMECRES</strong></div>
            <div class="hores">
              <strong>9:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe1dx" id="dxcl1" value="<%=dimecres.clase1%>" style="text-transform:uppercase">
                <%
                  if(!dimecres.clase1) {
                %>
                <label for="dxcl1">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>10:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe2dx" id="dxcl2" value="<%=dimecres.clase2%>" style="text-transform:uppercase">
                <%
                  if(!dimecres.clase2) {
                %>
                <label for="dxcl2">Matèria</label>
                <%}%>
              </div>
            </div>

            <div class="fila2">
              <strong>ESBARJO</strong>
            </div>
            <div class="hores">
              <strong>11:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe3dx" id="dxcl3" value="<%=dimecres.clase3%>" style="text-transform:uppercase">
                <%
                  if(!dimecres.clase3) {
                %>
                <label for="dxcl3">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>12:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe4dx" id="dxcl4" value="<%=dimecres.clase4%>" style="text-transform:uppercase">
                <%
                  if(!dimecres.clase4) {
                %>
                <label for="dxcl4">Exclusiva</label>
                <%}%>
              </div>
            </div>
            <div class="fila2"><strong>DINAR</strong></div>
            <div class="hores">
              <strong>15:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe5dx" id="dxcl5" value="<%=dimecres.clase5%>" style="text-transform:uppercase">
                <%
                  if(!dimecres.clase5) {
                %>
                <label for="dxcl5">Matèria</label>
                <%}%>
              </div>
            </div>
        </div>
<!--COLUMNA 4 DIJOUS-->
        <div class="col-sm">
            <div class="fila1"><strong>DIJOUS</strong></div>
            <div class="hores">
              <strong>9:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe1dj" id="djcl1" value="<%=dijous.clase1%>" style="text-transform:uppercase">
                <%
                  if(!dijous.clase1) {
                %>
                <label for="djcl1">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>10:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe2dj" id="djcl2" value="<%=dijous.clase2%>" style="text-transform:uppercase">
                <%
                  if(!dijous.clase2) {
                %>
                <label for="djcl2">Matèria</label>
                <%}%>
              </div>
            </div>

            <div class="fila2">
              <strong>ESBARJO</strong>
            </div>
            <div class="hores">
              <strong>11:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe3dj" id="djcl3" value="<%=dijous.clase3%>" style="text-transform:uppercase">
                <%
                  if(!dijous.clase3) {
                %>
                <label for="djcl3">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>12:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe4dj" id="djcl4" value="<%=dijous.clase4%>" style="text-transform:uppercase">
                <%
                  if(!dijous.clase4) {
                %>
                <label for="djcl4">Exclusiva</label>
                <%}%>
              </div>
            </div>
            <div class="fila2"><strong>DINAR</strong></div>
            <div class="hores">
              <strong>15:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe5dj" id="djcl5" value="<%=dijous.clase5%>" style="text-transform:uppercase">
                <%
                  if(!dijous.clase5) {
                %>
                <label for="djcl5">Matèria</label>
                <%}%>
              </div>
            </div>
        </div>
<!--COLUMNA 5 DIVENDRES-->
        <div class="col-sm">
            <div class="fila1"><strong>DIVENDRES</strong></div>
            <div class="hores">
              <strong>9:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe1dv" id="dvcl1" value="<%=divendres.clase1%>" style="text-transform:uppercase">
                <%
                  if(!divendres.clase1) {
                %>
                <label for="dvcl1">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>10:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe2dv" id="dvcl2" value="<%=divendres.clase2%>" style="text-transform:uppercase">
                <%
                  if(!divendres.clase2) {
                %>
                <label for="dvcl2">Matèria</label>
                <%}%>
              </div>
            </div>

            <div class="fila2">
              <strong>ESBARJO</strong>
            </div>
            <div class="hores">
              <strong>11:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe3dv" id="dvcl3" value="<%=divendres.clase3%>" style="text-transform:uppercase">
                <%
                  if(!divendres.clase3) {
                %>
                <label for="dvcl3">Matèria</label>
                <%}%>
              </div>
            </div>
            <div class="hores">
              <strong>12:30</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe4dv" id="dvcl4" value="<%=divendres.clase4%>" style="text-transform:uppercase">
                <%
                  if(!divendres.clase4) {
                %>
                <label for="dvcl4">Exclusiva</label>
                <%}%>
              </div>
            </div>
            <div class="fila2"><strong>DINAR</strong></div>
            <div class="hores">
              <strong>15:00</strong>
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe5dv" id="dvcl5" value="<%=divendres.clase5%>" style="text-transform:uppercase">
                <%
                  if(!divendres.clase5) {
                %>
                <label for="dvcl5">Matèria</label>
                <%}%>
              </div>
            </div>
        </div>
      </div><br><br>
    </div>

    </div>
  </div>
</form>

<div class="container clear">
  <div class="clearfix float-right">
    <% 
    var li = "/list";
    if(session.user.mestre === "ee"){
      li = "/list_EE"}
    %>

    <span class="col-md-5">
      <a href="<%=li%>" type="button" class="btn btn-blue-grey"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Torna a la llista</span></a>

    <button type="submit" form="horari_post" class="btn btn-primary">Desa</button>
    </span>
  </div>
</div>