<body>
<form role="form" method="post" action="/horari-area-post?_method=put" id="areas_post">
  <div class="container margetop clear col-md-10 offset-md-2" id="horariDiari">
<%
var dia;
for (var i=0; i < horari.length; i++) {
  if (horari[i].dia === 1) {
    var dia = "DILLUNS";
    }
  if (horari[i].dia === 2) {
    var dia = "DIMARTS";
    }
  if (horari[i].dia === 3) {
    var dia = "DIMECRES";
    }
  if (horari[i].dia === 4) {
    var dia = "DIJOUS";
    }
  if (horari[i].dia === 5) {
    var dia = "DIVENDRES";
    }
var daata = horari[i].data.replace(/\//g, "");
var mes_1 = horari[i].data.split('/');
var mes = mes_1[1];
%>
    <div class="container">
      <div class="row" id="areesMain">
        <div class="col-md-12 <%=mes%>" id="<%='div_' + daata%>" style="margin-top: 20px;">
          <input type="hidden" name="data" value=<%=[horari[i].data]%>>
          <input type="hidden" name="hora" value=<%=[horari[i].hora]%>>
            <div class="horesDiari" id="<%=mes%>">
              <div class="row">
                <div class="col-md-10 titlearea"><strong><%=horari[i].data%> </strong><%=dia%></div>
                <div class="col-md-11 firstline">
                  <label for="<%='tema_'+ i%>">Tema/UD</label>
                  <input type="text" name="tema" id="<%='tema_'+ i%>" value=<%=[horari[i].tema]%>>
                </div>
                <div class="col-md-1 firstline">
                  <label for="<%='sessio_'+ i%>">Sessió</label>
                  <input type="text" name="sessio" id="<%='sessio_'+ i%>" value=<%=[horari[i].sessio]%>>
                </div>
                <div class="col-md-12">
                  <textarea id="<%=dia%>obj" class="objtext" name="objectius" placeholder="Objectius"><%=[horari[i].objectius]%></textarea>
                </div>
                <div class="col-md-12">
                  <textarea id="<%=dia%>h1" class="areestext" name="prog" placeholder="Activitats"><%=[horari[i].prog]%></textarea>
                </div>
              </div>
            </div>

          <div class="divButton">
            <button type="submit" form = "horari_post" class="btn btn-success btn-lg btn-block buttonDiari hidBig" id="horariDiariPost">Desa l'horari</button>
          </div>
        </div> 
      </div>
    </div>
    <%}%>
    <input type="hidden" name="area" value=<%=area%>>
  </div>
</form>
</body>