<body>
<form role="form" method="post" action="/horari-diari-post?_method=put" id="horari_post">
  <div class="container margetop clear col-md-10 offset-md-2" id="horariDiari">
<%
var dia;
for (var i=0; i < horari.dades.length; i++) {
  if (horari.dades[i].dia === 1) {
    var dia = "DILLUNS";
    }
  if (horari.dades[i].dia === 2) {
    var dia = "DIMARTS";
    }
  if (horari.dades[i].dia === 3) {
    var dia = "DIMECRES";
    }
  if (horari.dades[i].dia === 4) {
    var dia = "DIJOUS";
    }
  if (horari.dades[i].dia === 5) {
    var dia = "DIVENDRES";
    }
var daata = horari.dades[i].data.replace(/\//g, "");
%>
    <div class="container">
      <div class="row" id="horariMain">
        <div class="col-md-12" id="<%='div_' + daata%>" style="margin-top: 20px;">
          <input type="hidden" name="diaData" value=<%=[horari.dades[i].data]%>>
          <div class="diaDiari">
            <%=dia%> <strong><%=horari.dades[i].data%></strong>
          </div>
            <div class="horesDiari">
              <div class="row">
                <span class="col-md-10"><strong>9:00 <%=horari.dades[i].clase1%></strong></span>
                <div class="col-md-12">
                  <textarea id="<%=dia%>h1" class="horaritext" name="prog1" placeholder="Activitats"><%=[horari.dades[i].prog1]%></textarea>
                </div>
              </div>
            </div>

          <div class="horesDiari">
            <div class="row">
              <span class="col-md-10"><strong>10:00 <%=horari.dades[i].clase2%></strong></span>
              <div class="col-md-12">
                <textarea id="<%=dia%>h2" class="horaritext" name="prog2" placeholder="Activitats"><%=[horari.dades[i].prog2]%></textarea>
              </div>
            </div>
          </div>

          <div class="fila2">
            <strong>ESBARJO</strong>
          </div>

          <div class="horesDiari">
            <div class="row">
              <span class="col-md-10"><strong>11:30 <%=horari.dades[i].clase3%></strong></span>
              <div class="col-md-12">
                <textarea id="<%=dia%>h3" class="horaritext" name="prog3" placeholder="Activitats"><%=[horari.dades[i].prog3]%></textarea>
              </div>
            </div>
          </div>

          <div class="horesDiari">
            <div class="row">
              <span class="col-md-10"><strong>12:30 <%=horari.dades[i].clase4%></strong></span>
              <div class="col-md-12">
                <textarea id="<%=dia%>h4" class="horaritext" name="prog4" placeholder="Activitats"><%=[horari.dades[i].prog4]%></textarea>
              </div>
            </div>
          </div>

          <div class="fila2"><strong>DINAR</strong></div>

          <div class="horesBottom">
            <div class="row">
              <span class="col-md-10"><strong>15:00 <%=horari.dades[i].clase5%></strong></span>
              <div class="col-md-12">
                <textarea id="<%=dia%>h5" class="horaritext" name="prog5" placeholder="Activitats"><%=[horari.dades[i].prog5]%></textarea>
              </div>
            </div>
          </div>
          <div class="divButton">
            <button type="submit" form = "horari_post" class="btn btn-success btn-lg btn-block buttonDiari hidBig" id="horariDiariPost">Desa l'horari</button>
          </div>
        </div> 
      </div>
    </div>
    <%}%>
  </div>
</form>
</body>