<div class="container">
  <div class="row">
<%
//DATA D'AVUI
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!
  var yyyy = today.getFullYear();

  if(dd<10) {
    dd='0'+dd
  } 
  if(mm<10) {
    mm='0'+mm
  } 
  today = dd+'/'+mm+'/'+yyyy;
%>

<% if(session.user.mestre === "tutor"){ %> 
  <div class="col-md-2">
    <div class="page-t">Llista alumnat
      <div class="curs-t"><%=Alumnes[0].curs%>
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <hr>
  </div>
  <div class="col-md-3 sub-t">Tutor/a: <%=Alumnes[0].tutor.nom + " " + Alumnes[0].tutor.cognom%>
  </div>
<% } %>

<% if(session.user.mestre === "ee"){ %>
  <div class="col-md-2">
    <div class="page-t">Llista alumnat
      <div class="curs-t">USEE
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <hr>
  </div>
  <div class="col-md-3 sub-t">Tutor/a: <%=session.user.nom + " " + session.user.cognom%>
  </div>
<% } %>

  <div class="col-md-12">
<%  if (Alumnes.length === 0) { %>
  <p><br />
    No hi ha alumnes registrats
  </p>
<% } else {%> 

    <!-- PERSONALITZAR -->
<!--            <div class="btn-group" style="clear:both;">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Personalitzar llista<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Documentació alumnes</a></li>
                <li><a href="#">Entrevistes pares</a></li>
                <li><a href="#">Anotacions</a></li>
                <li><a data-toggle="modal" data-nom="<%=%>" data-id="<%=%>"class="open-AddBookDialog" href="#assistModal">Assistència</a></li>
              </ul>
            </div>-->

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Núm.</th>
        <th>Nom i cognoms</th>
        <%if(session.user.mestre === "tutor"){ %> 
<!--    <th>Pagament material</th>
        <th>Pagament sortides</th>
        <th>Drets d'imatge</th>
        <th>Piscina</th>
        <th>Al·lèrgies</th>-->
        <% } %>

      </tr>
    </thead>
    <tbody>
    <% var i;
    for (i=0; i < Alumnes.length; i++) {
    %>
      <tr>
        <td><%=i+1%></td>
        <td><%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " +Alumnes[i].cognomAlumne2%>
        </td>
        <td>
        <% if(session.user.mestre === "tutor"){ %>

<!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accions <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/dadesAlumne/<%=Alumnes[i].id%>">Dades personals</a></li>
                <li><a data-toggle="modal" id="btnAssist" href="/javascripts/modals/assistencia.ejs" data-nom="<%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " +Alumnes[i].cognomAlumne2%>" data-id="<%=Alumnes[i]._id%>" data-today="<%=today%>" data-target="#assistModal">Assistència</a></li>
                <li><a data-toggle="modal" id="btnDelete" href="/javascripts/modals/deleteAlumne.ejs" data-id="<%=Alumnes[i]._id%>" data-nom="<%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " +Alumnes[i].cognomAlumne2%>" data-target="#deleteModal">Esborrar dades</a></li>


<!--            <li><a href="#">Entrevistes pares</a></li>
                <li><a href="#">Anotacions</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
-->
              </ul>
            </div>


<!--            <td><input type="checkbox" form="documentacio" name="doc1" value ="doc1"></td>
            <td><input type="checkbox" form="documentacio" name="doc2" value ="doc2"></td>
            <td><input type="checkbox" form="documentacio" name="doc3" value ="doc3"></td>
            <td><input type="checkbox" form="documentacio" name="doc4" value ="doc4"></td>
            <td><input type="checkbox" form="documentacio" name="doc5" value ="doc5"></td>-->
                <% } %>

          <% if(session.user.mestre === "ee"){ %>


 <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accions <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/dadesAlumne/<%=Alumnes[i].id%>" target="_blank">Dades alumne</a></li>
                <li><a href="/seg_act_EE/<%=Alumnes[i].id%>" target="_blank">Seguiment</a></li>
                <li><a href="/print_EE/<%=Alumnes[i].id%>" target="_blank">Imprimir dades</a></li>

                <!--
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                -->
              </ul>
            </div>
          </td>

        <% }; %>
      <% } %>
    <% } %>
         </tr> 
        </tbody>
      </table>

      <!-- BUTTON AFEGIR -->
      <%var cursMestre;
        if (session.user.mestre === "tutor") {
            var cursMestre = session.user.curs};
        if (session.user.mestre === "ee") {
            var cursMestre ="Seleccioneu curs"};
        %>
      <div class = "col-md-2 sub-t" style = "clear: both";>
        <a data-toggle="modal" class = "btn btn-default" id="btnAfegir" role = "button" href="/javascripts/modals/nouAlumne.ejs" data-escola="<%=session.user.escola%>" data-curs="<%=cursMestre%>" data-target="#afegirModal"><strong>+ </strong>Afegir alumnes</a>
      </div>

    </div>
  </div>
</div>


<!-- MODAL ASSISTÈNCIA -->

<div class="modal fade" id="assistModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>

<!-- MODAL AFEGIR-->

<div class="modal fade" id="afegirModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>

<!-- MODAL DELETE-->

<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
