<div class="container">
  <div class="row">
            

    <% if (Alumnes.length === 0) { %>
        <p><br />
        No hi ha alumnes registrats
        </p>
        <%} else { 

          if(session.user.mestre === "tutor"){ 

          %> 

            <div class="col-md-2">
              <div class="page-t">Llista alumnat <%=Alumnes[0].curs%>
              </div>
              <span class="sub-t">Tutor: <%=Alumnes[0].tutor.nom + " " + Alumnes[0].tutor.cognom%>
              </span>
            </div>

            <div class="col-md-10">
                <hr>
            </div>


          <% } %>

          <% if(session.user.mestre === "ee"){ %>

            <div class="col-md-3">
              <div class="page-t">Llista alumnat EE-USEE</div>
            </div>

            <div class="col-md-9">
                <hr>
            </div>

          <% } %>


    <div class="col-md-12">          
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Núm.</th>
            <th>Nom i cognoms</th>
            <%if(session.user.mestre === "tutor"){ %> 
            <th> </th>
            <th>Pagament material</th>
            <th>Pagament sortides</th>
            <th>Drets d'imatge</th>
            <th>Piscina</th>
            <th>Al·lèrgies</th>
            <% } %>

          </tr>
        </thead>
        <tbody>
          <% var i;
          for (i=0; i < Alumnes.length; i++) {
            %>
            <tr>
            <td><%=i+1%></td>
            <td><%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " +Alumnes[i].cognomAlumne2%></td>

            <td>

          <% if(session.user.mestre === "tutor"){ %>

                <!-- Split button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Accions <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="/dadesAlumne/<%=Alumnes[i].id%>">Modificar dades</a></li>
    <li><a href="#">Entrevistes pares</a></li>
    <li><a href="#">Anotacions</a></li>
    <li><a href="#">Assistència</a></li>
    <!--
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
    -->
  </ul>
</div>


            <td><input type="radio" form="documentacio" name="doc1" value ="doc1"></td>
            <td><input type="radio" form="documentacio" name="doc2" value ="doc2"></td>
            <td><input type="radio" form="documentacio" name="doc3" value ="doc3"></td>
            <td><input type="radio" form="documentacio" name="doc4" value ="doc4"></td>
            <td><input type="radio" form="documentacio" name="doc5" value ="doc5"></td>
                <% } %>

          <% if(session.user.mestre === "ee"){ %>
                <a href="/dades_mod_EE/<%=Alumnes[i].id%>" class="btn btn-primary btn-xs" role="button">Atenció i adaptacions</a>
                <a href="/seg_act_EE/<%=Alumnes[i].id%>" class="btn btn-primary btn-xs" role="button">Seguiment</a>
                <a href="/print_EE/<%=Alumnes[i].id%>" class="btn btn-primary btn-xs" role="button" target="_blank">Imprimir</a>
                <% } %>
<!--          <a href="/dades_suprV/<%=Alumnes[i].id%>" class="btn btn-danger btn-xs" role="button">Elimina</a>-->
          </td>


       


         <% }; %>
         <% } %>
         </tr>

        </tbody>
      </table>
    </div>
    </div>
    </div>