<% include ../public/javascripts/functions.ejs %>
<div class="container">
  <div class="row">

  <div class="container margetop clear">
<%  if (Alumnes.length === 0) { %>
  <p><br />
    Encara no hi ha alumnes registrats
  </p>
<% } else {%> 
  <table class="table table-hover">
    <thead>
      <tr id="tutoriaRow" class="row m-0">
        <th class="d-inline-block col-1">Núm.</th>
        <th class="d-inline-block col-8">Cognoms i nom</th>
        <th class="d-inline-block col-3 centered"><span class="col-md-1"></span></th>
        <%if(session.user.mestre === "tutor"){ %>
<!--        <th class="col-md-2">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" aria-haspopup="true" aria-expanded="false" onclick="afegirCol()"><span class="glyphicon glyphicon-plus"></span>
              Afegir
            </button>
          </div>
        </th>
<!--    <th>Pagament material</th>
        <th>Pagament sortides</th>
        <th>Drets d'imatge</th>
        <th>Piscina</th>
        <th>Al·lèrgies</th>-->
        <% } %>
      </tr>
    </thead>
    <tbody>
    <% var i;
    for (i=0; i < Alumnes.length; i++) {
      var segonC;
      if (Alumnes[i].cognomAlumne2===""){
        segonC = "";
      } else {
        var segonC = " " +Alumnes[i].cognomAlumne2;
      };
      //DATA NAIXEMENT
    var dataNa = Alumnes[i].dataNaixement;
    var dd = dataNa.getDate();
    var mm = dataNa.getMonth()+1; //January is 0!
    var yyyy = dataNa.getFullYear();
    if(dd<10) {
        dd='0'+dd
        } 
    if(mm<10) {
        mm='0'+mm
        } 
    dataNa = dd+'/'+mm+'/'+yyyy;

    var dataISO = Alumnes[i].dataNaixement.toISOString() %>

    <tr class="row m-0">
      <td class="d-inline-block col-1"><%=i+1%></td>
      <td class="d-inline-block col-8"><%=Alumnes[i].cognomAlumne1 + segonC + ", " + Alumnes[i].nomAlumne%></td>
      <td class="d-inline-block col-3">
        <span class="col-md-1">
         <a id="btnDades" data-toggle="modal" data-tggle="tooltip" data-placement="top" title="Dades personals" href="/javascripts/modals/dades.ejs"
         data-nom="<%=Alumnes[i].nomAlumne%>"
         data-cognom="<%=Alumnes[i].cognomAlumne1%>"
         data-scognom="<%=Alumnes[i].cognomAlumne2%>"
         data-id="<%=Alumnes[i]._id%>"
         data-dtan="<%=dataNa%>"
         data-segsoc="<%=Alumnes[i].seguretatSoc%>"
         data-mail="<%=Alumnes[i].mailAlum%>"
         data-escola="<%=Alumnes[i].escola._id%>"
         data-nomescola="<%=Alumnes[i].escola.nom%>"
         data-curs="<%=Alumnes[i].curs%>"
         data-atdiv="<%=Alumnes[i].eeUsee%>"
         data-obs="<%=Alumnes[i].observacions%>"
         data-pi="<%=Alumnes[i].radios[15]%>"
         data-curri="<%=Alumnes[i].checks[16]%>"
         data-met="<%=Alumnes[i].checks[17]%>"
         data-cond="<%=Alumnes[i].checks[18]%>"
         data-cat="<%=Alumnes[i].checks[19]%>"
         data-target="#dadesModal"><i class="fa fa-user gris" aria-hidden="true"></i></a>
<!--          <a data-tggle="tooltip" data-placement="top" title="Dades personals" href="/dadesAlumne/<%=Alumnes[i].id%>"><i class="fa fa-user gris" aria-hidden="true"></i></a>-->
        </span>

        <% if(session.user.mestre === "tutor"){%>
        <span class="col-md-1">
          <a data-tggle="tooltip" data-placement="top" title="Assistència" data-toggle="modal" id="btnAssist" href="/javascripts/modals/assistencia.ejs" data-nom="<%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " +Alumnes[i].cognomAlumne2%>" data-id="<%=Alumnes[i]._id%>" data-today="<%=today()%>" data-target="#assistModal"><i class="fa fa-calendar gris" aria-hidden="true"></i></a>
        </span>
        <span class="col-md-1">
          <a data-tggle="tooltip" data-placement="top" title="Reunions pares" href=""><i class="fa fa-file-text-o gris" aria-hidden="true"></i></a>
        </span>
        <span class="col-md-1">
          <% if(Alumnes[i].eeUsee === true) {%>
           <a data-tggle="tooltip" data-placement="top" title="Atenció a la diversitat" href="/seguiment-EE/<%=Alumnes[i].id%>"><i class="fa fa-user-plus gris" aria-hidden="true"></i></a>
          <%} else{%><i class="fa fa-user-plus grisfluix" aria-hidden="true"></i><% } %>
        </span>
        <span class="col-md-1">
          <a data-tggle="tooltip" data-placement="top" title="Elimina dades" data-toggle="modal" id="btnDelete" href="/javascripts/modals/deleteAlumne.ejs" data-id="<%=Alumnes[i]._id%>" data-nom="<%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " +Alumnes[i].cognomAlumne2%>" data-target="#deleteModal"><i class="fa fa-close verm" aria-hidden="true"></i></a><% } %>
        </span>
        <% if(session.user.mestre === "ee"){ %>
<!--          <a data-tggle="tooltip" data-placement="top" title="Dades personals" href="/dadesAlumne/<%=Alumnes[i].id%>"><i class="fa fa-user gris" aria-hidden="true"></i></a>-->
          <span class="col-md-1">
            <a data-tggle="tooltip" data-placement="top" title="Reunions pares" href=""><i class="fa fa-file-text-o gris" aria-hidden="true"></i>
            </a>
          </span>
          <span class="col-md-1">
            <a data-tggle="tooltip" data-placement="top" title="Reunions seguiment" href="/seguiment-EE/<%=Alumnes[i].id%>"><i class="fa fa-pencil gris" aria-hidden="true"></i>
            </a>
          </span>
          <span class="col-md-1">
            <a data-tggle="tooltip" data-placement="top" title="Imprimir seguiment" href="/print_EE/<%=Alumnes[i].id%>" target="_blank"><i class="fa fa-print gris" aria-hidden="true"></i>
            </a>
          </span>
          <span class="col-md-1">
            <a data-tggle="tooltip" data-placement="top" title="Donar d'alta" data-toggle="modal" id="btnAlta" href="" data-id="<%=Alumnes[i]._id%>" data-nom="<%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " +Alumnes[i].cognomAlumne2%>" data-target="#altaModal"><i class="fa fa-close verm" aria-hidden="true"></i>
            </a>
          </span>
        <% } %>
        </td>
      <% } %>
    <% } %>
         </tr> 
        </tbody>
      </table>

      <!-- BUTTON AFEGIR -->
      <%var cursMestre;
        if (session.user.mestre === "tutor") {
            var cursMestre = session.user.curs};
        if (session.user.mestre === "ee") {
            var cursMestre ="Seleccioneu curs"};
        %>
      <div class="clearfix">
        <a data-toggle="modal" class="btn btn-default float-right" id="btnAfegir" role="button" href="/javascripts/modals/nouAlumne.ejs" data-escola="<%=session.user.escola%>" data-curs="<%=cursMestre%>" data-target="#afegirModal"><i class="fa fa-plus"></i> Afegir-hi alumnes</a>
      </div>

    </div>
  </div>
</div>


<!-- MODAL DADES -->

<div class="modal fade" id="dadesModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>

<!-- MODAL ASSISTÈNCIA -->

<div class="modal fade" id="assistModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>

<!-- MODAL AFEGIR-->

<div class="modal fade" id="afegirModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>

<!-- MODAL DELETE-->

<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>

<script>
function afegirCol() {
    var row = document.getElementById("tutoriaRow");
    var x = row.insertCell(3);
    x.innerHTML = "New cell";
}
</script>