<script src="/javascripts/global.js"></script>

<div class="container">
  <div class="row">
<%
//DATA D'AVUI
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!
  var yyyy = today.getFullYear();

  if(dd<10) {
    dd='0'+dd
  } 
  if(mm<10) {
    mm='0'+mm
  } 
  today = dd+'/'+mm+'/'+yyyy;
%>

<% if(session.user.mestre === "tutor"){ %> 

  <div class="col-md-2">
    <div class="page-t">Llista alumnat
      <div class="curs-t"><%=Alumnes[0].curs%>
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <hr>
  </div>
  <div class="col-md-3 sub-t">Tutor/a: <%=Alumnes[0].tutor.nom + " " + Alumnes[0].tutor.cognom%>
  </div>
<% } %>

<% if(session.user.mestre === "ee"){ %>

  <div class="col-md-2">
    <div class="page-t">Llista alumnat
      <div class="curs-t">USEE
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <hr>
  </div>
  <div class="col-md-3 sub-t">Tutor/a: <%=session.user.nom + " " + session.user.cognom%>
  </div>


<% } %>

  <div class="col-md-12">

<%  if (Alumnes.length === 0) { %>
  <p><br />
    No hi ha alumnes registrats
  </p>
<% } else {%> 

    <!-- PERSONALITZAR -->
<!--            <div class="btn-group" style="clear:both;">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Personalitzar llista<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Documentació alumnes</a></li>
                <li><a href="#">Entrevistes pares</a></li>
                <li><a href="#">Anotacions</a></li>
                <li><a data-toggle="modal" data-nom="<%=nomAlumne%>" data-id="<%=idAlumne%>"class="open-AddBookDialog" href="#assistModal">Assistència</a></li>
              </ul>
            </div>-->

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Núm.</th>
        <th>Nom i cognoms</th>
        <%if(session.user.mestre === "tutor"){ %> 
        <th> </th>
        <th>Pagament material</th>
        <th>Pagament sortides</th>
        <th>Drets d'imatge</th>
        <th>Piscina</th>
        <th>Al·lèrgies</th>
        <% } %>

      </tr>
    </thead>
    <tbody>
    <% var i;
    for (i=0; i < Alumnes.length; i++) {
    %>
      <tr>
        <td><%=i+1%></td>
        <td><%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " +Alumnes[i].cognomAlumne2%>
        </td>
        <td>
        <% if(session.user.mestre === "tutor"){ 
            var nomAlumne = Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " +Alumnes[i].cognomAlumne2

            var idAlumne = Alumnes[i]._id%>

<!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accions <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/dadesAlumne/<%=Alumnes[i].id%>">Dades alumne</a></li>
                <li><a href="#">Entrevistes pares</a></li>
                <li><a href="#">Anotacions</a></li>
                <li><a data-toggle="modal" data-nom="<%=nomAlumne%>" data-id="<%=idAlumne%>"class="open-AddBookDialog" href="#assistModal">Assistència</a></li>
                <!--
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                -->
              </ul>
            </div>


            <td><input type="checkbox" form="documentacio" name="doc1" value ="doc1"></td>
            <td><input type="checkbox" form="documentacio" name="doc2" value ="doc2"></td>
            <td><input type="checkbox" form="documentacio" name="doc3" value ="doc3"></td>
            <td><input type="checkbox" form="documentacio" name="doc4" value ="doc4"></td>
            <td><input type="checkbox" form="documentacio" name="doc5" value ="doc5"></td>
                <% } %>

          <% if(session.user.mestre === "ee"){ %>


 <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accions <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/dadesAlumne/<%=Alumnes[i].id%>">Dades alumne</a></li>
                <li><a href="/seg_act_EE/<%=Alumnes[i].id%>">Seguiment</a></li>
                <li><a href="/print_EE/<%=Alumnes[i].id%>">Imprimir dades</a></li>

                <!--
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                -->
              </ul>
            </div>
          </td>

        <% }; %>
      <% } %>
    <% } %>
         </tr> 
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- MODAL ASSISTÈNCIA -->

  <div class="modal fade" id="assistModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Control d'assistència</h4>
        </div>


        <div class="modal-body" style="padding:40px 50px;">
          <div class="container-fluid">
            <div class="row">
        
              <form role="form" method="post" action="/assistPDF" target="_blank" id="assisDataD">

                <div class="form-group col-md-12">
                  <p>Alumne/a:</p>
                  <input type="text" class="form-control" name="nomAl" id="nomAl" value="" disabled="true">
                  <input type="hidden" id="idAl" form="assisDataD" name="alumneId" value ="" >
                </div>

  <!--DATEPICKER-->

                <div class="col-md-6" id="data" style="clear:both;">
                  <label for="alumneAssistU">Des del dia</label>
                  <div class="input-group date alturabox" data-provide="datepicker">
                  <input type="text" class="form-control" form="assisDataD" name= "alumneAssistU" value ="<%=today%>">
                    <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                    </div>
                  </div>
                </div>


                <div class="col-md-6" id="data">
                  <label for="alumneAssistD">Fins el dia</label>
                  <div class="input-group date alturabox" data-provide="datepicker">
                    <input type="text" class="form-control" form="assisDataD" name= "alumneAssistD" value ="<%=today%>">
                    <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>    
        <div class="modal-footer">
            <button type="submit" form="assisDataD" class="btn btn-success btn-block" id="assistBtn">Veure assistència</button>
        </div>
      </div>
      
  </div>
</div>
