<div class="container">
<div class="row">
            <div class="col-md-2">
              <h4>Llista alumnat</h4>
            </div>

            <div class="col-md-10">
              <hr>
            </div>
            <div class="col-md-12">

  <% if (Alumnes.length === 0) { %>
      <p><br />
      No hi ha alumnes registrats
      </p>
      <%} else { %>           
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Primer cognom</th>
        <th>Segon cognom</th>
        <th>Data naixement</th>
        <th>Núm. afiliació SS</th>
      </tr>
    </thead>
    <tbody>
      <% var i; for (i=0; i < Alumnes.length; i++) {
      //Format data naixement
      var dataNa = Alumnes[i].dataNaixement;
                var dd = dataNa.getDate();
                var mm = dataNa.getMonth()+1; //January is 0!
                var yyyy = dataNa.getFullYear();
                if(dd<10) {
                    dd='0'+dd
                    } 
                if(mm<10) {
                    mm='0'+mm
                    } 
                dataNa = dd+'/'+mm+'/'+yyyy;
      %>
      <tr>
      <td><%=Alumnes[i].nomAlumne%></td>
      <td><%=Alumnes[i].cognomAlumne1%></td>
      <td><%=Alumnes[i].cognomAlumne2%></td>
      <td><%=dataNa%></td>
      <td><%=Alumnes[i].seguretatSoc%></td>
      <td>
      
      <a href="/dades_mod/<%=Alumnes[i].id%>" class="btn btn-info btn-xs" role="button">Atenció i adaptacions</a>
      <a href="/seg_act/<%=Alumnes[i].id%>" class="btn btn-primary btn-xs" role="button">Seguiment</a>
      <a href="/dades_suprV/<%=Alumnes[i].id%>" class="btn btn-danger btn-xs" role="button"
      onclick="">Esborra</a>
      </td>

     <% }; %><% } %>
     </tr>

    </tbody>
  </table>
</div>
</div>
</div>
