<% include ../public/javascripts/functions.ejs %>
<div class="container">
  <div class="row">



  <div class="container taula clear">
<%  if (Alumnes.length === 0) { %>
  <p><br />
    Encara no hi ha alumnes registrats
  </p>
<% } else {%> 

    <!-- PERSONALITZAR -->
<!--            <div class="btn-group" style="clear:both;">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Personalitzar llista<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Documentació alumnes</a></li>
                <li><a href="#">Entrevistes pares</a></li>
                <li><a href="#">Anotacions</a></li>
                <li><a data-toggle="modal" data-nom="<%=%>" data-id="<%=%>"class="open-AddBookDialog" href="#assistModal">Assistència</a></li>
              </ul>
            </div>-->

  <table class="table table-hover">
    <thead>
      <tr id="tutoriaRow">
        <th>Núm.</th>
        <th>Nom i cognoms</th>
        <th> </th>
        <%if(session.user.mestre === "tutor"){ %>
<!--        <th class="col-md-2">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" aria-haspopup="true" aria-expanded="false" onclick="afegirCol()"><span class="glyphicon glyphicon-plus"></span>
              Afegir
            </button>
          </div>
        </th>
<!--    <th>Pagament material</th>
        <th>Pagament sortides</th>
        <th>Drets d'imatge</th>
        <th>Piscina</th>
        <th>Al·lèrgies</th>-->
        <% } %>
      </tr>
    </thead>
    <tbody>
    <% var i;
    for (i=0; i < Alumnes.length; i++) {
    %>
      <tr>
        <td><%=i+1%></td>
        <td><%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " +Alumnes[i].cognomAlumne2%>
        </td>
        <td>
        <% if(session.user.mestre === "tutor"){%>

<!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-blue-grey waves-effect dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accions</button>
              <div class="dropdown-menu">
                <li><a class="dropdown-item" href="/dadesAlumne/<%=Alumnes[i].id%>">Dades personals</a></li>
                <li><a class="dropdown-item" data-toggle="modal" id="btnAssist" href="/javascripts/modals/assistencia.ejs" data-nom="<%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " +Alumnes[i].cognomAlumne2%>" data-id="<%=Alumnes[i]._id%>" data-today="<%=today()%>" data-target="#assistModal">Assistència</a></li>
                <% if(Alumnes[i].eeUsee === true) {%>
                <li><a class="dropdown-item" href="/seguiment-EE/<%=Alumnes[i].id%>">Atenció a la diversitat</a></li>
                <%}%>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" data-toggle="modal" id="btnDelete" href="/javascripts/modals/deleteAlumne.ejs" data-id="<%=Alumnes[i]._id%>" data-nom="<%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " +Alumnes[i].cognomAlumne2%>" data-target="#deleteModal">Esborrar dades</a></li>
              </div>
            </div>
                <% } %>

          <% if(session.user.mestre === "ee"){ %>
 <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accions <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/dadesAlumne/<%=Alumnes[i].id%>">Dades alumne</a></li>
                <li><a href="/seguiment-EE/<%=Alumnes[i].id%>">Seguiment</a></li>
                <li><a href="/print_EE/<%=Alumnes[i].id%>" target="_blank">Imprimir dades</a></li>
              </ul>
            </div>

        <% }; %>
        </td>
        <td></td>
      <% } %>
    <% } %>
         </tr> 
        </tbody>
      </table>

      <!-- BUTTON AFEGIR -->
      <%var cursMestre;
        if (session.user.mestre === "tutor") {
            var cursMestre = session.user.curs};
        if (session.user.mestre === "ee") {
            var cursMestre ="Seleccioneu curs"};
        %>
      <div class="clearfix">
        <a data-toggle="modal" class="btn btn-default float-right" id="btnAfegir" role="button" href="/javascripts/modals/nouAlumne.ejs" data-escola="<%=session.user.escola%>" data-curs="<%=cursMestre%>" data-target="#afegirModal"><i class="fa fa-plus"></i> Afegir-hi alumnes</a>
      </div>

    </div>
  </div>
</div>


<!-- MODAL ASSISTÈNCIA -->

<div class="modal fade" id="assistModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>

<!-- MODAL AFEGIR-->

<div class="modal fade" id="afegirModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>

<!-- MODAL DELETE-->

<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>

<script>
function afegirCol() {
    var row = document.getElementById("tutoriaRow");
    var x = row.insertCell(3);
    x.innerHTML = "New cell";
}
</script>