<!DOCTYPE html>
<html lang="ca-ES">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>AppEscola</title>
    <link rel="shortcut icon" type="image/png" href="favicon.png">
     <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" rel="stylesheet">
    <!-- CSS de Bootstrap-DATEPICKER -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css" rel="stylesheet"/>
    <!-- CSS -->
    <link href="/stylesheets/css/style.css" rel="stylesheet" media="screen">
  </head>

  <body>
  <%  if (session.user){
        var ruta;
        if(session.user.mestre === "ee"){
        ruta = "/list_EE";
        } else {
          ruta = "/list";
      }
      } else {
        ruta = "";
      }
      %>
<!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark black fixed-top z-depth-0">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="<%=ruta%>">
          <strong>AppEscola</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav1">       
          <%if (!session.user){%>
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item dropdown btn-group">
                <a class="nav-link dropdown-toggle" id="nouUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Nou usuari/a </a>
                <div class="dropdown-menu dropdown" aria-labelledby="nouUser">
                  <a class="dropdown-item" data-toggle="modal" id="btnEscola" href="/javascripts/modals/nouEscola.ejs" data-target="#escolaModal" role="button">Nova escola</a>
                  <a class="dropdown-item" data-toggle="modal" id="btnUser" href="/javascripts/modals/nouRegistre.ejs" data-target="#userModal" role="button">Tutor/a</a>
                  <a class="dropdown-item" data-toggle="modal" id="btnUsee" href="/javascripts/modals/nouRegistreEe.ejs" data-target="#useeModal" role="button">Tutor/a USEE</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="modal" id="btnAssist" href="/javascripts/modals/login.ejs" data-target="#loginModal"><i class="fa fa-sign-in"></i> Entra</a>
              </li>
            </ul>
            <%} else {%>
              <ul class="nav navbar-nav mr-auto">
                <li id="llista" class="nav-item active"><a class="nav-link" href="<%=ruta%>">Llista<span class="sr-only">(current)</span></a></li>
                <%if(session.user.mestre === "tutor"){%>
                  <li id="assistencia" class="nav-item"><a class="nav-link" href="/assistencia">Assistència</a></li>
                  <li id="menjador" class="nav-item"><a class="nav-link" href="/menjador">Menjador</a></li>
              </ul>
            <%}%>
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown btn-group">
                  <a class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=" "+ "Hola, " + session.user.nom +" "+ session.user.cognom%></a>
                  <div class="dropdown-menu dropdown" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/usuari/<%=session.user._id%>">Veure perfil</a>
                    <a class="dropdown-item" href="/logout">Sortir</a>
                  </div>
                </li>
              </ul>
          <%}%>
        </div>
    </div>
  </nav>
<%if (session.user) {%>
  <div class="container-flex seconnav">
  <div class="row">
    <%if (session.user.mestre==="tutor") {%>
      <div class="col-md-1 curs-t"><%=session.user.curs%></div>
      <div class="curs-t" id="situ"></div><%}%>
    <%if (session.user.mestre==="ee") {%>
      <div class="sub-t">Atenció a la<br><strong>DIVERSITAT</strong><br><br></div><%}%>
    <div class="col-md-2"><br><strong>Tutoria </strong><%=session.user.nom + " " + session.user.cognom%></div>
    <div class="col-md-2"><br><strong>Escola </strong><%=session.user.escola%></div>
    </div></div>
<%}%>
    <section class ="mainsection">
      <%- body %>
    </section>

    <footer class="footer">
           <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 <a href="https://www.MDBootstrap.com"> Un mestre </a>

        </div>
    </div>
    <!--/.Copyright-->
    </footer>
    </div>
  </div>

 <!-- MODAL NOU TUTOR -->
  <div class="modal fade" id="userModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
  </div>

<!-- MODAL LOGIN-->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
  </div> 

<!-- MODAL NOVA ESCOLA -->
  <div class="modal fade" id="escolaModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
  </div> 

<!-- MODAL NOU MESTRE USEE-->
  <div class="modal fade" id="useeModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
  </div>

<!-- Librería jQuery requerida por los plugins de JavaScript -->
  <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
<!-- Bootstrap.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></script>
<!-- Datepicker -->  
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="/stylesheets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.ca.min.js"></script>
<!-- Validator -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js" integrity="sha384-tIwI8+qJdZBtYYCKwRkjxBGQVZS3gGozr3CtI+5JF/oL1JmPEHzCEnIKbDbLTCer" crossorigin="anonymous"></script>
  <!-- Fichero externo con JS y jQuery -->
  <script src="/javascripts/global.js"></script>
</body>
</html>