<!DOCTYPE html>
<html lang="ca-ES">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>AppEscola</title>
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <!-- CSS de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" media="screen">
    <!-- CSS de Bootstrap-DATEPICKER -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css" rel="stylesheet"/>
    <!-- CSS -->
    <link href="/stylesheets/css/style.css" rel="stylesheet" media="screen">
  </head>

  <body>
  <%  if (session.user){
      var ruta;
      var nouAl;
 
      if(session.user.mestre === "ee"){
      ruta = "/list_EE";
      nouAl = "/nou_alumne_EE";
      } else {
      ruta = "/list";
      nouAl = "/nouAlumne";
      }
 
      } else {
      ruta = "";
      nouAl = "";
      }
      %>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=ruta%>">AppEscola</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">


<!-- Para activar cambio  de color en el menú = CLASS="active" -->
     
        <%  if (session.user){%>
          <li><a href="<%=ruta%>">Tutoria<span class="sr-only">(current)</span></a></li>
          <!-- <li><a href="/nouAlumne">Nova entrada</a></li> -->
        <%  if(session.user.mestre === "tutor"){%>
            <li><a href="/assistencia">Assistència</a></li>

        <%  }}%>
        
      </ul>

<!--      <form class="navbar-form" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Cerca alumnes">
        </div>
        <button type="submit" class="btn btn-default">Envia</button>
      </form>-->

      <%if (session.user){%>

      <%}%>

      <%if (!session.user){%>
      <div class="navbar-text navbar-right" style="margin-right: 5px;">
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Entra </button>
        <button type="button" class="btn btn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><span>  </span>Crea Usuari <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a data-toggle="modal" href="#escolaModal">Nova escola</a></li>
            <li><a data-toggle="modal" href="#userModal">Nou tutor</a></li>
            <li><a data-toggle="modal" href="#useeModal">Nou tutor USEE</a></li>
        </ul>
      </div>
      <%} else {%>
      <div class="navbar-text navbar-right" style="margin-right: 5px;">
        <button type="button" class="btn btn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><span>  </span><%=session.user.nom +" "+ session.user.cognom%><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="/usuari/<%=session.user._id%>">Veure perfil</a></li>
            <li><a href="/logout">Sortir</a></li>
          </ul>
      </div>
      <%}%>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<section class ="mainsection">

  <%- body %>

</section>
<footer class="footer">
   <div>Això és el footer</div>
</footer>

<!-- MODAL LOGIN-->

  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Inici de sessió</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" method="post" action="/login" id="login-form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Usuari</label>
              <input type="email" class="form-control required" id="usrname"  name="email" placeholder="Introduiu el vostre correu electrònic">
              <small class="text-warning" id="e-warning" style="display:none";>Entrada obligatòria</small>
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Contrasenya</label>
              <input type="password" class="form-control required" id="psw"  name="password" placeholder="Introduiu la vostra contrasenya">
              <small class="text-warning" id="p-warning" style="display:none";>Entrada obligatòria</small>
            </div>
            <p><a href="#">Heu oblidat la vostra contrasenya?</a></p>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Recorda'm</label>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <!--<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel·la</button>
          <p>Not a member? <a href="#">Sign Up</a></p>-->
          <div class="form-group">
          <button type="submit" class="btn btn-success btn-block" form="login-form"><span class="glyphicon glyphicon-off"></span> Entra</button>
          </div>
        </div>
      </div>
      
    </div>
  </div> 

<!-- MODAL NOVA ESCOLA -->

  <div class="modal fade" id="escolaModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Nova escola</h4>
        </div>


        <div class="modal-body" style="padding:40px 50px;">
          <form id="formEscola" role="form" method="post" action="/escola_crear">

            <div class="form-group">
              <label for="nom_escola">Si us plau, empleneu els següents apartats</label>
              <input type="text" class="form-control required" id="nom_escola" name="nom" placeholder="Nom escola">
              <small class="text-warning" id="n-warning" style="display:none";>Entrada obligatòria</small>
            </div>

            <div class="form-group">
              <input type="text" class="form-control required" id="codi_escola" name="_id" placeholder="Codi escola">
              <small class="text-warning" id="c-warning" style="display:none";>Entrada obligatòria</small>
            </div>

            <div class="form-group">
              <input type="password" class="form-control required" id="password_escola" name="password" placeholder="Contrasenya">
              <small class="text-warning" id="p-war" style="display:none";>Entrada obligatòria</small>
            </div>
              
            <div class="form-group">
              <input type="text" class="form-control" id="tel_escola" name="telefon" placeholder="Telèfon">
            </div>

            <div class="form-group">
              <input type="email" class="form-control" id="email_escola" name="email" placeholder="Correu electrònic">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="adreca_escola" name="adreca" placeholder="Adreça">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="cp_escola" name="codiPostal" placeholder="Codi postal">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="pob_escola" name="poblacio" placeholder="Població">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="prov_escola" name="provincia" placeholder="Província">
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" form="formEscola" class="btn btn-success btn-block">Envia la informació</button>
        </div>
      </div>
      
    </div>
  </div> 


  <!-- MODAL NOU TUTOR -->

  <div class="modal fade" id="userModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Nou tutor</h4>
        </div>

        <div class="modal-body" style="padding:40px 50px;">
          <form id="formUser" role="form" method="post" action="/usuari_crear">
            <div class="form-group">
              <label for="email_user">Empleneu els següents apartats</label><br>
<!--              <div class="" id="newEE_error">errorAlta%></div><br>-->
              <input type="email" class="form-control" id="email_user" name="email" placeholder="Email">
              <small class="text-warning" id="e-wartutor" style="display:none";>Entrada obligatòria</small>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="nom_user" name="nom" placeholder="Nom">
              <small class="text-warning" id="n-wartutor" style="display:none";>Entrada obligatòria</small>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="cognom_user" name="cognom" placeholder="Cognom">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="codi_esc_tutor" name="escola" placeholder="Codi escola">
              <small class="text-warning" id="c-wartutor" style="display:none";>Entrada obligatòria</small>
            </div>

            <div class="form-group">
              <input type="password" class="form-control" id="password_user" name="password" placeholder="Contrasenya">
              <small class="text-warning" id="p-wartutor" style="display:none";>Entrada obligatòria</small>
            </div>

            <div class="form-group">
              <label for="curs_act">Curs: </label>
                <select class="form-control" id="curs_act" name="curs">
                  <option value="">Seleccioneu</option>
                  <option value="1r A">1r A</option>
                  <option value="1r B">1r B</option>
                  <option value="2n A">2n A</option>
                  <option value="2n B">2n B</option>
                  <option value="3r A">3r A</option>
                  <option value="3r B">3r B</option>
                  <option value="4t A">4t A</option>
                  <option value="4t B">4t B</option>
                  <option value="5è A">5è A</option>
                  <option value="5è B">5è B</option>
                  <option value="6è A">6è A</option>
                  <option value="6è B">6è B</option>
                </select>
                <small class="text-warning" id="s_curs" style="display:none";>Cal seleccionar un curs</small>
            </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" form="formUser" class="btn btn-success btn-block">Envia la informació</button>
        </div>
      </div>
      
    </div>
  </div>


  <!-- MODAL NOU MESTRE USEE-->

  <div class="modal fade" id="useeModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Nou tutor USEE</h4>
        </div>

        <div class="modal-body" style="padding:40px 50px;">
          <form id="formUsee" role="form" method="post" action="/usuari_ee_crear">
            <div class="form-group">
              <label for="email_user_usee">Empleneu els següents apartats</label><br>
<!--              <div class="" id="newEE_error">errorAlta%></div><br>-->
              <input type="email" class="form-control" id="email_user_usee" name="email" placeholder="Correu electrònic">
              <small class="text-warning" id="e-warusee" style="display:none";>Entrada obligatòria</small>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="nom_user_usee" name="nom" placeholder="Nom">
              <small class="text-warning" id="n-warusee" style="display:none";>Entrada obligatòria</small>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="cognom_user_usee" name="cognom" placeholder="Cognom">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="codi_esc_usee" name="escola" placeholder="Codi escola">
              <small class="text-warning" id="c-warusee" style="display:none";>Entrada obligatòria</small>
            </div>

            <div class="form-group">
              <input type="password" class="form-control" id="password_user_usee" name="password" placeholder="Contrasenya">
              <small class="text-warning" id="p-warusee" style="display:none";>Entrada obligatòria</small>
            </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" form="formUsee" class="btn btn-success btn-block">Envia la informació</button>
        </div>
      </div>
      
    </div>
  </div>

<!-- Librería jQuery requerida por los plugins de JavaScript -->
  <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="/stylesheets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.ca.min.js"></script>
  <!-- Fichero externo con JS y jQuery -->
<script src="/javascripts/global.js"></script> 

</body>
</html>