<% include ../public/javascripts/functions.ejs %>
<div class="container">
  <div class="row">

<!--DATEPICKER-->
    <div id="mData" class="container datep-t">
      <div class="row justify-content-end">
        <form role="form" method="post" action="/menjaData" id="menjaD">
          <div class="input-group date" data-provide="datepicker">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control textcenter" form="menjaD" name= "dataMenja" value ="<%=DataVM%>">
          </div>
        </form>
      </div>
    </div> 
 
  <div class="col-md-12 tablemarge">

  <% if (Alumnes.length === 0) { %>
      <p><br />
      No hi ha alumnes registrats
      </p>
      <%} else {%>           
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Núm.</th>
        <th>Nom i cognoms</th>
        <th> </th>
        <th>Curs</th>
        <th>Menjador</th>
        <th>Pagat</th>
      </tr>
    </thead>
    <tbody>
      <%
      for (var i=0; i < Alumnes.length; i++) {
      //ARRAY
          var arraylng = Alumnes[i].menjador.length;
          var arraymn = arraylng - 1;
      //FILTRE DATA
          function filtreData(obj){
            if (obj.dataMen === DataVM){
              return obj.dataMen
            };
          };
          
          var dataSelec ={};
          
          dataSelec = Alumnes[i].menjador.filter(filtreData);
          
          var dataObj = JSON.parse(JSON.stringify(dataSelec));
          if (dataObj[0] === undefined){
            ddoo ={
                        dataMen: today,
                        menja: false,
                        paga: false,
                        dataIsoMen: new Date()}
          dataObj = JSON.stringify(ddoo)
          }
      %>
      <form role="form" method="post" action="/menjadorN?_method=put" id="menjaForm" name="menjadorForm">
      <tr id="tradios">
      <td><%=i+1%></td>
      <td><%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " + Alumnes[i].cognomAlumne2%>
      </td>
      <td>
      <% var nomAlumne = Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " +Alumnes[i].cognomAlumne2;
        var idAlumne = Alumnes[i]._id;%>
<!-- Button -->
      <button type="button" class="btn btn-outline-secondary" id = "btnMenja" data-toggle="modal" data-nom="<%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " + Alumnes[i].cognomAlumne2%>" data-id="<%=Alumnes[i]._id%>" href="/javascripts/modals/menjador.ejs" data-today="<%=today()%>" data-target="#menjaModal" disabled>Imprimir</button>
      </td>
      <td><%=Alumnes[i].curs%></td>
      <input type="hidden" form="menjaForm" name="alumneId.<%=i%>" value ="<%=Alumnes[i]._id%>">
      <input type="hidden" form="menjaForm" name="menjador.dataMen.<%=i%>" value ="<%=DataVM%>">
      <input type="hidden" form="menjaForm" name="arraylng.<%=i%>" value ="<%=arraylng%>">
      <td><input id="mMenj" type="radio" form="menjaForm" name="menjador.menja.<%=i%>" value = true <%=menjaMenja()%>></td>
      <td><input id="mPag" type="radio" form="menjaForm" name="menjador.paga.<%=i%>" value = true <%=menjaPaga()%>></td>
     </tr>
     </form>
     <%}%>
    </tbody>
  </table>
          <div class="fclearfix" style="text-align:right;">
            <input type="hidden" form="menjaForm" name="i" value ="<%=i%>">
            <button type="submit" form="menjaForm" class="btn btn-default float-right">Desa</button>
          </div>
    <%}%>
  </div>
</div>
</div>


<!-- MODAL MENJADOR -->

<div class="modal fade" id="menjaModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>