<% include ../public/javascripts/functions.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="page-t">Menjador<div class="curs-t"><%=Alumnes[0].curs%></div>
      </div>
    </div>
    <div class="col-md-3 sub-t">Tutor: <%=Alumnes[0].tutor.nom + " " + Alumnes[0].tutor.cognom%>
    </div>

<!--DATEPICKER-->
    <form role="form" method="post" action="/menjaData" id="menjaD">
      <div  id="mData" class="col-md-2 col-md-offset-7 datep-t" >   
        <div class="input-group date" data-provide="datepicker">
          <input type="text" class="form-control" form="menjaD" name= "dataMenja" value ="<%=DataVM%>">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>
      </div>
    </form> 
 

  <div class="col-md-12">

  <% if (Alumnes.length === 0) { %>
      <p><br />
      No hi ha alumnes registrats
      </p>
      <%} else {%>           
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Núm.</th>
        <th>Nom i cognoms</th>
        <th> </th>
        <th>Curs</th>
        <th>Menjador</th>
        <th>Pagat</th>
      </tr>
    </thead>
    <tbody>
      <%

      //DATA D'AVUI
          var today = new Date();
          var dd = today.getDate();
          var mm = today.getMonth()+1; //January is 0!
          var yyyy = today.getFullYear();
          if(dd<10) {
              dd='0'+dd
          } 
          if(mm<10) {
              mm='0'+mm
          } 
          today = dd+'/'+mm+'/'+yyyy;

      for (var i=0; i < Alumnes.length; i++) {
      //ARRAY
          var arraylng = Alumnes[i].menjador.length;
          var arraymn = arraylng - 1;
      //FILTRE DATA
          function filtreData(obj){
            if (obj.date === DataVM){
              return obj.date
            };
          };
          
          var dataSelec ={};
          
          dataSelec = Alumnes[i].menjador.filter(filtreData);
          
          var dataObj = JSON.parse(JSON.stringify(dataSelec));
          if (dataObj[0] === undefined){
            ddoo ={
                        date: today,
                        menja: null,
                        paga: null,
                        dataIso: new Date()}
          dataObj = JSON.stringify(ddoo)
          }
      %>
      <form role="form" method="post" action="/menjadorN?_method=put" id="menjaForm" name="menjadorForm">
      <tr id="tradios">
      <td><%=i+1%></td>
      <td><%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " + Alumnes[i].cognomAlumne2%>
      </td>
      <td>
      <% var nomAlumne = Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " +Alumnes[i].cognomAlumne2;
        var idAlumne = Alumnes[i]._id;%>
<!-- Button -->
      <a type="button" class="btn btn-default" id = "btnMenja" data-toggle="modal" data-nom="<%=Alumnes[i].nomAlumne + " " + Alumnes[i].cognomAlumne1 + " " + Alumnes[i].cognomAlumne2%>" data-id="<%=Alumnes[i]._id%>" href="/javascripts/modals/menjador.ejs" data-today="<%=today%>" data-target="#menjaModal">Imprimir</a>
      </td>
      <td><%=Alumnes[i].curs%></td>
      <input type="hidden" form="menjaForm" name="alumneId.<%=i%>" value ="<%=Alumnes[i]._id%>">
      <input type="hidden" form="menjaForm" name="menjador.dataMen.<%=i%>" value ="<%=DataVM%>">
      <input type="hidden" form="menjaForm" name="arraylng.<%=i%>" value ="<%=arraylng%>">
      <td><input id="mMenj" type="radio" form="menjaForm" name="menjador.menja.<%=i%>" value = true <%=menjaMenja()%>></td>
      <td><input id="mPag" type="radio" form="menjaForm" name="menjador.paga.<%=i%>" value = true <%=menjaPaga()%>></td>
     </tr>
     </form>
     <%}%>
    </tbody>
  </table>
          <div class="form-group col-md-3 col-md-offset-9" style="text-align:right;">
            <input type="hidden" form="menjaForm" name="i" value ="<%=i%>">
            <button type="submit" form="menjaForm" class="btn btn-primary">Desa</button>
          </div>
    <%}%>
  </div>
</div>
</div>


<!-- MODAL MENJADOR -->

<div class="modal fade" id="menjaModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>