<% include ../public/javascripts/functions.ejs %>
<div class="container">
  <div class="row">
<!--DADES ALUMNE-->
    <div class="container margetop">
      <div class="row seg-title">
        <div class="col-md-4 text-muted clear">
          <h4><strong>Nom: </strong><%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%></h4>
        </div>
        <div class="col-md-2 text-muted">
          <h4><strong>Curs: </strong><%=alumne.curs%></h4>
        </div>
        <div class="col-md-5 text-muted">
          <h4><strong>Escola: </strong><%=alumne.codiEscola%></h4>
        </div>
      </div>
    </div>

<!-- REUNIONS -->
        <div class="container seguiment tab-pane fade in show active" id="reunionsPares" role="tabpanel">
          <div class="row">
            <div class="container tbl">
              <div class="row">
              <%  if (alumne.reunionsPares.length === 0) { %>
                <p><br />
                  Encara no heu registrat cap reunió
                </p>
              <% } else { %> 
                <table class="table table-hover">
                  <thead>
                    <tr class="row m-0">
                      <th class="d-inline-block col-1">Curs</th>
                      <th class="d-inline-block col-1">Data</th>
                      <th class="d-inline-block col-2">Mestre/a</th>
                      <th class="d-inline-block col-5">Text</th>
                      <th class="d-inline-block col-3"> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <%for (i = 0; i < alumne.reunionsPares.length; i++) { 
                      var punts = "";
                      if (alumne.reunionsPares[i].body.length > 50)
                      {punts="..."};
                    %>  
                    <tr class="row m-0">
                      <td class="d-inline-block col-1">
                        <%=alumne.reunionsPares[i].curs%>
                      </td>
                      <td class="d-inline-block col-1">
                        <%=alumne.reunionsPares[i].date%>
                      </td>
                      <td class="d-inline-block col-2">
                        <%=alumne.reunionsPares[i].creat%>
                      </td>
                      <td class="d-inline-block col-5">
                        <a href="#" title="<%=alumne.reunionsPares[i].body%>" data-toggle="popover" data-trigger="hover"><%=alumne.reunionsPares[i].body.substring(0,50) + punts%></a>
                      </td>
                      <td class="d-inline-block col-3">
                        <span class="col-md-1">
                          <a id="btnreuParesGet" 
                          href="/javascripts/modals/reuParesGet.ejs" 
                          data-target="#reuParesModalGet" 
                          data-toggle="modal" 
                          data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" 
                          data-curs="<%=alumne.curs%>" 
                          data-dta="<%=alumne.reunionsPares[i].date%>"
                          data-creat="<%=alumne.reunionsPares[i].creat%>" 
                          data-convo="<%=alumne.reunionsPares[i].convocada%>"
                          data-assist="<%=alumne.reunionsPares[i].assistencia%>"
                          data-compo="<%=alumne.reunionsPares[i].composicio%>"
                          data-body="<%=alumne.reunionsPares[i].body%>"
                          data-concl="<%=alumne.reunionsPares[i].conclusions%>"
                          data-tggle="tooltip" data-placement="top" title="Veure"><i class="fa fa-eye gris" aria-hidden="true"></i>
                          </a>
                        </span>
                        <% if(session.user.email === alumne.reunionsPares[i].userMail){ %>
                        <span class="col-md-1">
                          <a id = "btnreuParesUpd" data-toggle="modal" href="/javascripts/modals/reuParesEdit.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>"   data-i="<%=i%>" data-dta = "<%=alumne.reunionsPares[i].date%>" data-body = "<%=alumne.reunionsPares[i].body%>" data-target="#reuParesModalUpd" data-tggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-pencil-square-o gris" aria-hidden="true"></i>
                          </a>
                        </span>
                        <span class="col-md-1">
                          <a data-tggle="tooltip" data-placement="top" title="Imprimir" href="" target="_blank"><i class="fa fa-print gris" aria-hidden="true"></i>
                          </a>
                        </span>
                        <span class="col-md-1">
                          <a id = "btnreuParesDel" data-toggle="modal" href="/javascripts/modals/reuParesDel.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>"   data-i="<%=i%>" data-dta = "<%=alumne.reunionsPares[i].date%>" data-body = "<%=alumne.reunionsPares[i].body%>" data-target="#reuParesModalDel" data-tggle="tooltip" data-placement="top" title="Elimina"><i class="fa fa-close verm" aria-hidden="true"></i>
                          </a>
                        </span>
                            <% } %>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
                <% } %>
              </div>
            </div>
            <div class="container">
              <div class="clearfix float-right">
                <%
                var autor = session.user.nom + " " + session.user.cognom;
                var num = alumne.reunionsPares.length;
                var mail = session.user.email;
                var li = "/list";

                if(session.user.mestre === "ee"){
                  li = "/list_EE"
                }
                %>
                <span class="col-md-2">
                  <a href="<%=li%>" type="button" class="btn btn-blue-grey"><i class="fa fa-arrow-left" aria-hidden="true"></i><span> Torna enrere</span></a>
                </span>

                  <span class="col-md-2">
                    <a data-toggle="modal" class = "btn btn-default float-right" id="btnreuParesAfegir" role = "button" href="/javascripts/modals/reuPares.ejs" 
                    data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>"
                    data-id="<%=alumne._id%>" 
                    data-curs="<%=alumne.curs%>"
                    data-creat="<%=autor%>"
                    data-today="<%=today()%>"
                    data-num = "<%=num%>"
                    data-mail = "<%=mail%>"
                    data-target="#reuParesModal"><i class="fa fa-plus"></i> Nova reunió</a>
                  </span>

              </div>
            </div>
          </div>
        </div>

<!-- MODALS -->
<!--CREATE-->
<div class="modal fade" id="reuParesModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--READ-->
<div class="modal fade" id="reuParesModalGet" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--UPDATE-->
<div class="modal fade" id="reuParesModalUpd" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--DELETE-->
<div class="modal fade" id="reuParesModalDel" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
