<% include ../public/javascripts/functions.ejs %>

<div class="container" id="seg">
  <div class="row">
<!--DADES ALUMNE-->
    <div class="container margetop">
      <div class="row seg-title">
        <div class="col-md-4 text-muted clear">
          <h4><strong>Nom: </strong><%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%></h4>
        </div>
        <div class="col-md-2 text-muted">
          <h4><strong>Curs: </strong><%=alumne.curs%></h4>
        </div>
        <div class="col-md-5 text-muted">
          <h4><strong>Escola: </strong><%=alumne.codiEscola%></h4>
        </div>
      </div>
    </div>
<!-- TABS --> 
    <div class="container">   
      <ul class="nav nav-tabs nav-fill seguiment" id="segTabs" role="tablist">
        <li id="actuTab" class="nav-item">
          <a class="nav-link active" data-toggle="tab" role="tab" href="#actuacions">ACTUACIONS</a>
        </li>
        <li id="cadTab" class="nav-item">
          <a class="nav-link" data-toggle="tab" role="tab" href="#informacions">INFORMACIONS CAD</a>
        </li>
        <li id="altresTab" class="nav-item">
          <a class="nav-link" data-toggle="tab" role="tab" href="#coordinacions">ALTRES COORDINACIONS</a>
        </li>
      </ul>
   
<!-- Tab panes -->
  
      <div class="tab-content clearfix">
<!-- ACTUACIONS -->
        <div class="container seguiment tab-pane fade in show active" id="actuacions" role="tabpanel">
          <div class="row">
            <div class="container tbl">
              <div class="row">
              <%  if (alumne.segActuacions.length === 0) { %>
                <p><br />
                  Encara no heu registrat cap actuació
                </p>
              <% } else { %> 
                <table class="table table-hover">
                  <thead>
                    <tr class="row m-0">
                      <th class="d-inline-block col-3">Data</th>
                      <th class="d-inline-block col-6">Text</th>
                      <th class="d-inline-block col-3"> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <%for (i = 0; i < alumne.segActuacions.length; i++) { 
                      var punts = "";
                      if (alumne.segActuacions[i].body.length > 80)
                      {punts="..."};
                    %>  
                    <tr class="row m-0">
                      <td class="d-inline-block col-3">
                        <%=alumne.segActuacions[i].date%>
                      </td>
                      <td class="d-inline-block col-6">
                        <a href="#" title="<%=alumne.segActuacions[i].body%>" data-toggle="popover" data-trigger="hover"><%=alumne.segActuacions[i].body.substring(0,80) + punts%></a>
                      </td>
                      <td class="d-inline-block col-3">
                        <span class="col-md-1">
                          <a id="btnActuGet" href="/javascripts/modals/actuacionsEeGet.ejs" data-target="#actuModalGet" data-toggle="modal" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-curs="<%=alumne.curs%>" data-dta = "<%=alumne.segActuacions[i].date%>"
                            data-body = "<%=alumne.segActuacions[i].body%>" data-tggle="tooltip" data-placement="top" title="Veure"><i class="fa fa-eye gris" aria-hidden="true"></i>
                          </a>
                        </span>
                        <% if(session.user.mestre === "ee"){ %>
                        <span class="col-md-1">
                          <a id = "btnActuUpd" data-toggle="modal" href="/javascripts/modals/actuacionsEeEdit.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>"   data-i="<%=i%>" data-dta = "<%=alumne.segActuacions[i].date%>" data-body = "<%=alumne.segActuacions[i].body%>" data-target="#actuModalUpd" data-tggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-pencil-square-o gris" aria-hidden="true"></i>
                          </a>
                        </span>
                        <span class="col-md-1">
                          <a data-tggle="tooltip" data-placement="top" title="Imprimir" href="" target="_blank"><i class="fa fa-print gris" aria-hidden="true" class="disabled"></i>
                          </a>
                        </span>
                        <span class="col-md-1">
                          <a id = "btnActuDel" data-toggle="modal" href="/javascripts/modals/actuacionsEeDel.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>"   data-i="<%=i%>" data-dta = "<%=alumne.segActuacions[i].date%>" data-body = "<%=alumne.segActuacions[i].body%>" data-target="#actuModalDel" data-tggle="tooltip" data-placement="top" title="Elimina"><i class="fa fa-close verm" aria-hidden="true"></i>
                          </a>
                        </span>
                        <% } else {%>
                            <span class="col-md-1">
                            <a class="disabled" data-tggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-pencil-square-o gris" aria-hidden="true"></i>
                            </a>
                          </span> 
                          <span class="col-md-1">
                            <a class="disabled" data-tggle="tooltip" data-placement="top" title="Imprimir" href="" target="_blank"><i class="fa fa-print gris" aria-hidden="true"></i>
                            </a>
                          </span>
                          <span class="col-md-1">
                            <a class="disabled" data-tggle="tooltip" data-placement="top" title="Elimina"><i class="fa fa-close verm" aria-hidden="true"></i>
                            </a>
                          </span>
                        <% } %>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
                <% } %>
              </div>
            </div>
            <div class="container">
              <div class="clearfix float-right">
                <% 
                var li = "/list";
                if(session.user.mestre === "ee"){
                  li = "/list_EE"}
                %>
                <span class="col-md-2">
                  <a href="<%=li%>" type="button" class="btn btn-blue-grey"><i class="fa fa-arrow-left" aria-hidden="true"></i><span> Torna enrere</span></a>
                </span>
                <%if(session.user.mestre === "ee"){%>
                  <span class="col-md-2">
                    <a data-toggle="modal" class = "btn btn-default float-right" id="btnActuAfegir" role = "button" href="/javascripts/modals/actuacionsEe.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-today="<%=today()%>" data-actunum = "<%=alumne.segActuacions.length%>" data-target="#actuModal"><i class="fa fa-plus"></i> Nova actuació</a>
                  </span>
                <%}%>
              </div>
            </div>
          </div>
        </div>

<!--INFORMACIÓ CAD-->
        <div class="container seguiment tab-pane fade" id="informacions" role="tabpanel">
          <div class="row">
            <div class="container tbl">
              <div class="row">
              <%  if (alumne.segInformacioCAD.length === 0) { %>
                <p><br />
                  Encara no heu registrat cap informació CAD
                </p>
              <% } else {%> 
                <table class="table table-hover">
                  <thead>
                    <tr class="row m-0">
                      <th class="d-inline-block col-3">Data</th>
                      <th class="d-inline-block col-6">Text</th>
                      <th class="d-inline-block col-3"> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <%for (i = 0; i < alumne.segInformacioCAD.length; i++) { 
                      var punts = "";
                      if (alumne.segInformacioCAD[i].body.length > 80)
                      {punts="..."};
                    %>
                    <tr class="row m-0">
                      <td class="d-inline-block col-3">
                        <%=alumne.segInformacioCAD[i].date%>
                      </td>
                      <td class="d-inline-block col-6">
                        <a href="#" title="<%=alumne.segInformacioCAD[i].body%>" data-toggle="popover" data-trigger="hover"><%=alumne.segInformacioCAD[i].body.substring(0,80) + punts%></a>
                      </td>
                      <td class="d-inline-block col-3">
                        <span class="col-md-1">
                          <a id = "btnCadGet" data-toggle="modal" href="/javascripts/modals/cadEeGet.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-curs="<%=alumne.curs%>" data-dta = "<%=alumne.segInformacioCAD[i].date%>" data-body = "<%=alumne.segInformacioCAD[i].body%>" data-target="#cadModalGet" data-tggle="tooltip" data-placement="top" title="Veure"><i class="fa fa-eye gris" aria-hidden="true"></i>
                          </a>
                        </span>
                        <% if(session.user.mestre === "ee"){ %>
                        <span class="col-md-1">
                          <a id = "btnCadUpd" data-toggle="modal" href="/javascripts/modals/cadEeEdit.ejs" data-nom = "<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-i="<%=i%>" data-dta="<%=alumne.segInformacioCAD[i].date%>" data-body="<%=alumne.segInformacioCAD[i].body%>"  data-target="#cadModalUpd" data-tggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-pencil-square-o gris" aria-hidden="true"></i>
                          </a>
                        </span>
                        <span class="col-md-1">
                          <a data-tggle="tooltip" data-placement="top" title="Imprimir" href="" target="_blank"><i class="fa fa-print gris" aria-hidden="true"></i>
                          </a>
                        </span>
                        <span class="col-md-1">
                          <a id = "btnCadDel" data-toggle="modal" href="/javascripts/modals/cadEeDel.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-i="<%=i%>" data-dta="<%=alumne.segInformacioCAD[i].date%>" data-body = "<%=alumne.segInformacioCAD[i].body%>" data-target="#cadModalDel" data-tggle="tooltip" data-placement="top" title="Elimina"><i class="fa fa-close verm" aria-hidden="true"></i>
                          </a>
                        </span>
                        <% } else {%>
                              <span class="col-md-1">
                              <a class="disabled" data-tggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-pencil-square-o gris" aria-hidden="true"></i>
                              </a>
                            </span> 
                            <span class="col-md-1">
                              <a class="disabled" data-tggle="tooltip" data-placement="top" title="Imprimir" href="" target="_blank"><i class="fa fa-print gris" aria-hidden="true"></i>
                              </a>
                            </span>
                            <span class="col-md-1">
                              <a class="disabled" data-tggle="tooltip" data-placement="top" title="Elimina"><i class="fa fa-close verm" aria-hidden="true"></i>
                              </a>
                            </span>
                        <% } %>
                      
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
                <% } %>
              </div>
            </div>
            <div class="container">
            <div class="clearfix float-right">
              <% 
              var li = "/list";
              if(session.user.mestre === "ee"){
                li = "/list_EE"}
              %> 
              <span class="col-md-2">
                <a href="<%=li%>" type="button" class="btn btn-blue-grey"><i class="fa fa-arrow-left" aria-hidden="true"></i><span> Torna enrere</span></a>
              </span>
              <%if(session.user.mestre === "ee"){%>
              <span class="col-md-2">
                <a data-toggle="modal" class="btn btn-default float-right" id="btnCadAfegir" role = "button" href="/javascripts/modals/cadEe.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-today="<%=today()%>" data-actunum = "<%=alumne.segInformacioCAD.length%>" data-target="#cadModal"><i class="fa fa-plus"></i> Nova informació CAD</a>
              </span>
              <%}%>
              </div>
            </div>
          </div>
        </div>

<!--ALTRES COORDINACIONS-->
        <div class="container seguiment tab-pane fade" id="coordinacions" role="tabpanel">
          <div class="row">
            <div class="container tbl">
              <div class="row">
              <%  if (alumne.segAltresCoord.length === 0) { %>
                <p><br />
                  Encara no heu registrat cap coordinació
                </p>
              <% } else {%> 
                <table class="table table-hover">
                  <thead>
                    <tr class="row m-0">
                      <th class="d-inline-block col-3">Data</th>
                      <th class="d-inline-block col-6">Text</th>
                      <th class="d-inline-block col-3"> </th>
                    </tr>
                  </thead>
                  </thead>
                  <tbody>
                    <%for (i = 0; i < alumne.segAltresCoord.length; i++) { 
                      var punts = "";
                      if (alumne.segAltresCoord[i].body.length > 80)
                      {punts="..."};
                    %>  
                    <tr class="row m-0">
                      <td class="d-inline-block col-3">
                        <%=alumne.segAltresCoord[i].date%>
                      </td>
                      <td class="d-inline-block col-6">
                        <a href="#" title="<%=alumne.segAltresCoord[i].body%>" data-toggle="popover" data-trigger="hover"><%=alumne.segAltresCoord[i].body.substring(0,80) + punts%></a>
                        
                      </td>
                      <td class="d-inline-block col-3">
                        <span class="col-md-1">
                          <a id = "btnAltresCoordGet" data-toggle="modal" href="/javascripts/modals/altresCoordEeGet.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-curs="<%=alumne.curs%>" data-dta = "<%=alumne.segAltresCoord[i].date%>" data-body = "<%=alumne.segAltresCoord[i].body%>" data-target="#altresCoordModalGet" data-tggle="tooltip" data-placement="top" title="Veure"><i class="fa fa-eye gris" aria-hidden="true"></i>
                          </a>
                        </span>
                        <% if(session.user.mestre === "ee"){%>
                          <span class="col-md-1">
                            <a id = "btnAltresUpd" data-toggle="modal" href="/javascripts/modals/altresCoordEeEdit.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-i="<%=i%>" data-dta="<%=alumne.segAltresCoord[i].date%>" data-body="<%=alumne.segAltresCoord[i].body%>" data-target="#altresCoordModalUpd"data-tggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-pencil-square-o gris" aria-hidden="true"></i>
                            </a>
                          </span>
                          <span class="col-md-1">
                            <a data-tggle="tooltip" data-placement="top" title="Imprimir" href="" target="_blank"><i class="fa fa-print gris" aria-hidden="true"></i>
                          </a>
                          </span>
                          <span class="col-md-1">
                            <a id = "btnaltresCoordDel" data-toggle="modal" href="/javascripts/modals/altresCoordEeDel.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-i="<%=i%>" data-dta="<%=alumne.segAltresCoord[i].date%>" data-body = "<%=alumne.segAltresCoord[i].body%>" data-target="#altresCoordModalDel" data-tggle="tooltip" data-placement="top" title="Elimina"><i class="fa fa-close verm" aria-hidden="true"></i>
                            </a>
                          </span>
                          <% } else {%>
                              <span class="col-md-1">
                              <a class="disabled" data-tggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-pencil-square-o gris" aria-hidden="true"></i>
                              </a>
                            </span> 
                            <span class="col-md-1">
                              <a class="disabled" data-tggle="tooltip" data-placement="top" title="Imprimir" href="" target="_blank"><i class="fa fa-print gris" aria-hidden="true"></i>
                              </a>
                            </span>
                            <span class="col-md-1">
                              <a class="disabled" data-tggle="tooltip" data-placement="top" title="Elimina"><i class="fa fa-close verm" aria-hidden="true"></i>
                              </a>
                            </span>
                            <% } %>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
                <% } %>
              </div>
            </div>
            <div class="container">
              <div class="clearfix float-right">
                <% 
                var li = "/list";
                if(session.user.mestre === "ee"){
                  li = "/list_EE"}
                %>
                <span class="col-md-2">
                  <a href="<%=li%>" type="button" class="btn btn-blue-grey"><i class="fa fa-arrow-left" aria-hidden="true"></i><span> Torna enrere</span></a>
                </span>
                <%if(session.user.mestre === "ee"){%>
                <span class="white"><a data-toggle="modal" class="btn btn-default float-right" id="btnaltresCoordAfegir" role = "button" href="/javascripts/modals/altresCoordEe.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-today="<%=today()%>" data-altresnum = "<%=alumne.segAltresCoord.length%>" data-target="#altresCoordModal"><i class="fa fa-plus"></i> Nova coordinació</a>
                </span><%}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MODALS ACTUACIONS -->
<!--CREATE-->
<div class="modal fade" id="actuModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--READ-->
<div class="modal fade" id="actuModalGet" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--UPDATE-->
<div class="modal fade" id="actuModalUpd" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--DELETE-->
<div class="modal fade" id="actuModalDel" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>

<!-- MODALS CAD -->
<!--CREATE-->
<div class="modal fade" id="cadModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--READ-->
<div class="modal fade" id="cadModalGet" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--UPDATE-->
<div class="modal fade" id="cadModalUpd" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--DELETE-->
<div class="modal fade" id="cadModalDel" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>


<!-- MODALS ALTRES COORD -->
<!--CREATE-->
<div class="modal fade" id="altresCoordModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--READ-->
<div class="modal fade" id="altresCoordModalGet" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--UPDATE-->
<div class="modal fade" id="altresCoordModalUpd" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--DELETE-->
<div class="modal fade" id="altresCoordModalDel" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>