<!--FUNCION TODAY-->
                <%var today = new Date();
                  var dd = today.getDate();
                  var mm = today.getMonth()+1; //January is 0!
                  var yyyy = today.getFullYear();
                  if(dd<10) {
                    dd='0'+dd
                    } 
                  if(mm<10) {
                    mm='0'+mm
                    } 
                  today = dd+'/'+mm+'/'+yyyy;
                  %>
<!--DATA NAIXEMENT-->
                <%var dataNa = alumne.dataNaixement;
                var dd = dataNa.getDate();
                var mm = dataNa.getMonth()+1; //January is 0!
                var yyyy = dataNa.getFullYear();
                if(dd<10) {
                    dd='0'+dd
                    } 
                if(mm<10) {
                    mm='0'+mm
                    } 
                dataNa = dd+'/'+mm+'/'+yyyy;
                  %>                   

<!-- --------------------------------------- SEGUIMENT ALUMNE ------------------------------------ -->
<div class="container">
  <div class="row">
        <!--DADES ALUMNE-->
    <div class="container">
      <div class="row">
        <form role="form">
          <div class="form-group">
            <div class="col-md-2">
              <h4>Seguiment alumne</h4>
            </div>
            <div class="col-md-10">
              <hr>
            </div>
            <div class="col-md-3 clear">
            <strong>Nom: </strong><span><%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%></span>
            </div>
            <div class="form-group col-md-3">
            <strong>Curs: </strong><span><%=alumne.curs%></span>
            </div>
          </div>
        </form>
      </div>
    </div>

<!-- TORNA ENRERE --> 
    <div class="container seguiment">  
    <div class="row">
        <% 
       var li = "/list";
       if(session.user.mestre === "ee"){
        li = "/list_EE"}
        %> 
         <a type="button" href="<%=li%>" class="btn btn-default" id="returnBtn"><span class="glyphicon glyphicon-arrow-left"></span> Torna enrere</a>
    </div>
    </div>

<!-- TABS -->   
    <ul class="nav nav-tabs nav-justified seguiment">
      <li class="active"><a data-toggle="tab" href="#actuacions">Actuacions</a></li>
      <li><a data-toggle="tab" href="#informacions">Informacions CAD</a></li>
      <li><a data-toggle="tab" href="#coordinacions">Altres coordinacions</a></li>
    </ul>

    <div class="tab-content">

<!-- ACTUACIONS -->
    <div class="container seguiment tab-pane fade in active" id="actuacions">
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-md-3">Data</th>
              <th class="col-md-7">Text</th>
              <th class="col-md-2"> </th>
            </tr>
          </thead>
          <tbody>
            <%for (i = 0; i < alumne.segActuacions.length; i++) { 
              var punts = "";
              if (alumne.segActuacions[i].body.length > 80)
              {punts="..."};
                %>
              
            <tr>
              <td>
                <%=alumne.segActuacions[i].date%>
              </td>
              <td>
                <a href="#" title="<%=alumne.segActuacions[i].body%>" data-toggle="popover" data-trigger="hover"><%=alumne.segActuacions[i].body.substring(0,80) + punts%></a>
                
              </td>
              <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a id = "btnActuUpd" data-toggle="modal" href="/javascripts/modals/actuacionsEeEdit.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>"   data-i="<%=i%>" data-dta = "<%=alumne.segActuacions[i].date%>" data-body = "<%=alumne.segActuacions[i].body%>" data-target="#actuModalUpd">Modificar</a></li>

                  <li><a href="#">Imprimir</a></li>

                  <li role="separator" class="divider"></li>

                  <li><a id = "btnActuDel" data-toggle="modal" href="/javascripts/modals/actuacionsEeDel.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>"   data-i="<%=i%>" data-dta = "<%=alumne.segActuacions[i].date%>" data-body = "<%=alumne.segActuacions[i].body%>" data-target="#actuModalDel">Eliminar</a></li>
                </ul>
                </div>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <div class = "row">
        <%var actuArray = alumne.segActuacions.length;%>
          <div class = "col-md-2 clear">
            <a data-toggle="modal" class = "btn btn-success" id="btnActuAfegir" role = "button" href="/javascripts/modals/actuacionsEe.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-today="<%=today%>" data-actunum = "<%=alumne.segActuacions.length%>" data-target="#actuModal"><span class="glyphicon glyphicon-plus"></span> Nova actuació</a>
          </div>
        </div>
      </div>
    </div>



<!--INFORMACIÓ CAD-->
    <div class="container seguiment tab-pane fade" id="informacions">
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-md-3">Data</th>
              <th class="col-md-7">Text</th>
              <th class="col-md-2"> </th>
            </tr>
          </thead>
          <tbody>
            <%for (i = 0; i < alumne.segInformacioCAD.length; i++) { 
              var punts = "";
              if (alumne.segInformacioCAD[i].body.length > 80)
              {punts="..."};
                %>
              
            <tr>
              <td>
                <%=alumne.segInformacioCAD[i].date%>
              </td>
              <td>
                <a href="#" title="<%=alumne.segInformacioCAD[i].body%>" data-toggle="popover" data-trigger="hover"><%=alumne.segInformacioCAD[i].body.substring(0,80) + punts%></a>
                
              </td>
              <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a id = "btnCadUpd" data-toggle="modal" href="/javascripts/modals/cadEeEdit.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-i="<%=i%>" data-dta="<%=alumne.segInformacioCAD[i].date%>" data-body="<%=alumne.segInformacioCAD[i].body%>" data-target="#cadModalUpd">Modificar</a></li>

                  <li><a href="#">Imprimir</a></li>

                  <li role="separator" class="divider"></li>

                  <li><a id = "btnCadDel" data-toggle="modal" href="/javascripts/modals/cadEeDel.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-i="<%=i%>" data-dta="<%=alumne.segInformacioCAD[i].date%>" data-body = "<%=alumne.segInformacioCAD[i].body%>" data-target="#cadModalDel">Eliminar</a></li>
                </ul>
                </div>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <div class = "row">
          <div class = "col-md-2 clear">
            <a data-toggle="modal" class = "btn btn-success" id="btnCadAfegir" role = "button" href="/javascripts/modals/cadEe.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-today="<%=today%>" data-actunum = "<%=alumne.segInformacioCAD.length%>" data-target="#cadModal"><span class="glyphicon glyphicon-plus"></span> Nova informació CAD</a>
          </div>
        </div>
      </div>
    </div>


<!--ALTRES COORDINACIONS-->
    <div class="container seguiment tab-pane fade" id="coordinacions">
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-md-3">Data</th>
              <th class="col-md-7">Text</th>
              <th class="col-md-2"> </th>
            </tr>
          </thead>
          <tbody>
            <%for (i = 0; i < alumne.segAltresCoord.length; i++) { 
              var punts = "";
              if (alumne.segAltresCoord[i].body.length > 80)
              {punts="..."};
                %>
              
            <tr>
              <td>
                <%=alumne.segAltresCoord[i].date%>
              </td>
              <td>
                <a href="#" title="<%=alumne.segAltresCoord[i].body%>" data-toggle="popover" data-trigger="hover"><%=alumne.segAltresCoord[i].body.substring(0,80) + punts%></a>
                
              </td>
              <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a id = "btnAltresUpd" data-toggle="modal" href="/javascripts/modals/altresCoordEeEdit.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-i="<%=i%>" data-dta="<%=alumne.segAltresCoord[i].date%>" data-body="<%=alumne.segAltresCoord[i].body%>" data-target="#altresCoordModalUpd">Modificar</a></li>

                  <li><a href="#">Imprimir</a></li>

                  <li role="separator" class="divider"></li>

                  <li><a id = "btnaltresCoordDel" data-toggle="modal" href="/javascripts/modals/altresCoordEeDel.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-i="<%=i%>" data-dta="<%=alumne.segAltresCoord[i].date%>" data-body = "<%=alumne.segAltresCoord[i].body%>" data-target="#altresCoordModalDel">Eliminar</a></li>
                </ul>
                </div>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <div class = "row">
          <div class = "col-md-2 clear">
            <a data-toggle="modal" class = "btn btn-success" id="btnaltresCoordAfegir" role = "button" href="/javascripts/modals/altresCoordEe.ejs" data-nom="<%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%>" data-id="<%=alumne._id%>" data-curs="<%=alumne.curs%>" data-today="<%=today%>" data-altresnum = "<%=alumne.segAltresCoord.length%>" data-target="#altresCoordModal"><span class="glyphicon glyphicon-plus"></span> Nova coordinació</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- MODALS ACTUACIONS -->
<!--CREATE-->
<div class="modal fade" id="actuModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--UPDATE-->
<div class="modal fade" id="actuModalUpd" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--DELETE-->
<div class="modal fade" id="actuModalDel" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>

<!-- MODALS CAD -->
<!--CREATE-->
<div class="modal fade" id="cadModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--UPDATE-->
<div class="modal fade" id="cadModalUpd" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--DELETE-->
<div class="modal fade" id="cadModalDel" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>


<!-- MODALS ALTRES COORD -->
<!--CREATE-->
<div class="modal fade" id="altresCoordModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--UPDATE-->
<div class="modal fade" id="altresCoordModalUpd" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>
<!--DELETE-->
<div class="modal fade" id="altresCoordModalDel" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      </div>
    </div>
</div>