<!--FUNCION TODAY-->
                <%var today = new Date();
                  var dd = today.getDate();
                  var mm = today.getMonth()+1; //January is 0!
                  var yyyy = today.getFullYear();
                  if(dd<10) {
                    dd='0'+dd
                    } 
                  if(mm<10) {
                    mm='0'+mm
                    } 
                  today = dd+'/'+mm+'/'+yyyy;
                  %>


                    <!--  INPUT CURS (ANUL·LAT)
                                <div class="form-group col-md-10"></div>
                    <div class="form-group col-md-2">
                        <label for="any_curs">Curs</label>
                        <input type="text" class="form-control" id="any_curs" 
                               placeholder="2015/16">
                    </div>-->

<!-- --------------------------------------- SEGUIMENT ALUMNE ------------------------------------ -->
    <div class="container">
      <div class="row">
          <div class="col-md-12">



<!--ACTUACIONS-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    ACTUACIONS</a>
                  </h4>
                </div>
                  <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">





                      <div class="row">

                        <form role="form" method="post" action="/seg_act_upd/<%=alumne._id%>?_method=put" id="seg_actuacions">

                            <!--var Quantes actuacions hi ha ara?-->
                            <%
                            var actuArray = alumne.segActuacions.length;
                            %>

<!--                          <div class="form-group col-md-12">
                          <label for="actuacions"></label><br>
                          </div> -->


                      <!--Actuacions anteriors-->
                          <div class="form-group col-md-12 actuPast" id="actuacions">

                            <%for (i = 0; i < alumne.segActuacions.length; i++) { %>

                              <%=alumne.segActuacions[i].date%><br />
                              <%=alumne.segActuacions[i].body%><br /><br />
         
                            <% } %>

                          </div>


                      <!--Nova actuació-->
                          <div class="form-group col-md-2 dataSeguiment">
                          <input type="text" class="form-control" id="actuacionsDate" value="<%=today%>" name="segActuacions.<%=actuArray%>.date">
                          </div>
                          <div class="form-group col-md-12">
                          <textarea class="form-control" rows="6" id="actuacionsBody" name="segActuacions.<%=actuArray%>.body" form="seg_actuacions"></textarea><br /><br />
                          </div>

                      <!-- Botons -->

                          <div class="form-group col-md-3 col-md-offset-9" style="text-align:right;">
                          <a href="/" class="btn btn-default" role="button">Cancel·la</a>
                          <button type="submit" class="btn btn-primary">Desa</button>
                          </div>

                        </form>
                      </div>
                    </div>
                  </div>
               </div>




<!--INFORMACIÓ CAD-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    INFORMACIÓ CAD</a>
                  </h4>
                </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">


                    <div class="row">

                        <form role="form" method="post" action="/seg_act_upd/<%=alumne._id%>?_method=put" id="seg_CAD">

                    <!--var Quantes actuacions hi ha ara?-->
                    <%var cadArray = alumne.segInformacioCAD.length;%>

<!--                        <div class="form-group col-md-12">
                        <label for="infoCAD"></label><br>
                        </div> -->


                    <!--infoCAD anteriors-->
                    <div class="form-group col-md-12 actuPast" id="infoCAD">

                      <%for (i = 0; i < alumne.segInformacioCAD.length; i++) { %>

                        <%=alumne.segInformacioCAD[i].date%><br />
                        <%=alumne.segInformacioCAD[i].body%><br /><br />
   
                      <% } %>

                    </div>


                    <!--Nova informació CAD-->
                        <div class="form-group col-md-2 dataSeguiment">
                        <input type="text" class="form-control" id="infoCADDate" value="<%=today%>" name="segInformacioCAD.<%=cadArray%>.date">
                        </div>
                        <div class="form-group col-md-12">
                        <textarea class="form-control" rows="6" id="infoCADBody" name="segInformacioCAD.<%=cadArray%>.body" form="seg_CAD"></textarea><br /><br />
                        </div>

                      <!-- Botons -->

                        <div class="form-group col-md-3 col-md-offset-9" style="text-align:right;">
                        <a href="/" class="btn btn-default" role="button">Cancel·la</a>
                        <button type="submit" class="btn btn-primary">Desa</button>
                        </div>

                      </form>
                    </div>
                  </div>
                </div>
              </div>




<!--ALTRES COORD - AMB TUTORS-->

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    ALTRES COORDINACIONS - COORDINACIONS AMB TUTORS</a>
                  </h4>
                </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">


                    <div class="row">

                        <form role="form" method="post" action="/seg_act_upd/<%=alumne._id%>?_method=put" id="altres_coord">                   

                    <!--var Quantes actuacions hi ha ara?-->
                    <%var altresArray = alumne.segAltresCoord.length;%>

<!--                        <div class="form-group col-md-12">
                        <label for="altresCoord"></label><br>
                        </div> -->


                    <!--altresCoord anteriors-->
                    <div class="form-group col-md-12 actuPast" id="altresCoord">

                      <%for (i = 0; i < alumne.segAltresCoord.length; i++) { %>

                        <%=alumne.segAltresCoord[i].date%><br />
                        <%=alumne.segAltresCoord[i].body%><br /><br />
   
                      <% } %>

                    </div>


                    <!--Nova coordinació-->
                        <div class="form-group col-md-2 dataSeguiment">
                        <input type="text" class="form-control" id="altresCoordDate" value="<%=today%>" name="segAltresCoord.<%=altresArray%>.date">
                        </div>
                        <div class="form-group col-md-12">
                        <textarea class="form-control" rows="6" id="altresCoordBody" name="segAltresCoord.<%=altresArray%>.body" form="altres_coord"></textarea><br /><br />
                        </div>


                    <!-- Botons -->

                        <div class="form-group col-md-3 col-md-offset-9" style="text-align:right;">
                        <a href="/" class="btn btn-default" role="button">Cancel·la</a>
                        <button type="submit" class="btn btn-primary">Desa</button>
                        </div>

                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
