<!--<div class="container">
      <div class="row">
        <form role="form">
          <div class="form-group">
            <div class="col-md-2">
              <label for="ejemplo_archivo_1">Foto alumne</label>
              <div class="thumbnail">
                <img src="http://placehold.it/300x300">
              </div>
              <input type="file" id="ejemplo_archivo_1">
            </div>
 <p class="help-block">Ejemplo de texto de ayuda.</p>
          </div>
        </form>
      </div>
    </div> -->
    <%
      var usr = usuari.curs;
      if (usuari.mestre==="ee"){
        usr = "At. diversitat"
      }
    %>

<!--DADES USUARI-->
    <div class="container margetop clear">
      <div class="row">
        <div class="col-md-2">
          <div class="page-t">Dades usuari</div>
        </div>
        <div class="col-md-10">
          <hr>
        </div>
        
        <form role="form" method="post" action="/usuari/<%=usuari._id%>?_method=put" id="usuari_dades">
          <div class="form-group" style="clear: both;">
            <div class="form-group col-md-3">
              <label for="nom_usuari">Nom</label>
              <input type="text" class="form-control" id="nom_usuari"
                     placeholder="<%=usuari.nom%>">
            </div>

            <div class="form-group col-md-3">
              <label for="cognom_usuari">Primer Cognom</label>
              <input type="text" class="form-control" id="cognom_usuari"
                     placeholder="<%=usuari.cognom%>">
            </div>

            <div class="form-group col-md-3" style="clear: both;">
              <label for="email_usuari">Correu electrònic</label>
              <input type="text" class="form-control" id="cognom_usuari"
                     placeholder="<%=usuari.email%>">
            </div>

             <div class="form-group col-md-2">
              <label for="codi_escola">Codi escola *</label>
              <input type="text" class="form-control" id="codi_escola" name="codiEscola" placeholder = "<%=usuari.escola%>" value = "<%=usuari.escola%>">
            </div>

            <div class="form-group col-md-2" id="curs">
              <label for="curs_act">Curs actual</label>
                <select class="form-control" id="curs_act" name="curs">
                  <option value="<%=usr%>" selected><%=usr%></option>
                  <option value="1r A">1r A</option>
                  <option value="1r B">1r B</option>
                  <option value="2n A">2n A</option>
                  <option value="2n B">2n B</option>
                  <option value="3r A">3r A</option>
                  <option value="3r B">3r B</option>
                  <option value="4t A">4t A</option>
                  <option value="4t B">4t B</option>
                  <option value="5è A">5è A</option>
                  <option value="5è B">5è B</option>
                  <option value="6è A">6è A</option>
                  <option value="6è B">6è B</option>
                </select>
            </div>
          </div>
        </form>


        <div class="form-group col-md-3 col-md-offset-9" style="text-align:right;">
          <% 
          var li = "/list";
          if(session.user.mestre === "ee"){
            li = "/list_EE"}
          %> 
          <a type="button" href="<%=li%>" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Torna enrere</a>
          <% if(session.user.mestre === "tutor"){ %>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#elimModal">Elimina</button>
          <% } %>
          <button type="submit" form="usuari_dades" class="btn btn-primary">Desa</button>
        </div>
      </div>
    </div>



        </div>
    </div>

<!-- Modal -->
  <div class="modal fade" id="elimModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Eliminar les vostres dades</h4>
        </div>
        <div class="modal-body">
          <p>Aquesta acció eliminarà totes les vostres dades i us esborrarà de la base de dades.</p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-default btn-sm" role="button" data-dismiss="modal">Cancel·la</a>
<!--          <a href="/dades_suprD/<%=usuari.id%>" class="btn btn-danger btn-sm" role="button">Elimina</a>-->
        </div>
      </div>
      
    </div>
  </div>